<div style="height: 450px">
    <SfGrid AllowPaging="false" DataSource="Model" EnableHover="true" EnableStickyHeader="true" Height="410px" ID="gridActivity" @ref="GridActivity" RowHeight="@RowHeight" TValue="CandidateActivity" Width="100%">
        <GridSelectionSettings EnableToggle="false" Mode="SelectionMode.Row" Type="SelectionType.Single"/>
        <GridEvents DataBound="GridBound" RowSelected="RowSelected" TValue="CandidateActivity"/>
        <GridColumns>
            <GridColumn Field="@nameof(CandidateActivity.Requisition)" HeaderText="Candidate" Width="40%"/>
            <GridColumn Field="@nameof(CandidateActivity.ID)" HeaderText="ID" IsPrimaryKey="true" Visible="false" Width="0"/>
            <GridColumn HeaderText="Status" Width="20%">
                <Template Context="aCon">
                    @{
                        // Memory optimization: Direct casting instead of pattern matching
                        CandidateActivity activity = (CandidateActivity)aCon;
                    }
                    <span>@($"{activity.Status} [{activity.UpdatedBy.ToUpper()}]")</span>
                </Template>
            </GridColumn>
            <GridColumn HeaderText="Date Updated" Width="15%">
                <Template Context="aCon">
                    @{
                        // Memory optimization: Direct casting instead of pattern matching
                        CandidateActivity activity = (CandidateActivity)aCon;
                    }
                    <span>@activity.UpdatedDate.CultureDate()</span>
                </Template>
            </GridColumn>
            <GridColumn HeaderText="Initial Recruiter" Width="15%">
                <Template Context="aCon">
                    @{
                        // Memory optimization: Direct casting instead of pattern matching
                        CandidateActivity activity = (CandidateActivity)aCon;
                    }
                    <span>@activity.CandidateUpdatedBy.ToUpper()</span>
                </Template>
            </GridColumn>
            <GridColumn Width="10%">
                <Template Context="bCon">
                    @{
                        // Memory optimization: Direct casting instead of pattern matching
                        CandidateActivity activity = (CandidateActivity)bCon;
                    }
                    <div class="buttonContain">
                        @if (activity.DoRoleHaveRight)
                        {
                            <SfButton Content="" IconCss="e-icons e-edit" @onclick="() => EditActivityDialog(activity.ID)"/>
                        }
                        @if (activity.StatusCode != "PEN" && (activity.UpdatedBy.Trim().Equals(User.Trim(), StringComparison.OrdinalIgnoreCase) || RoleID == 1))
                        {
                            <SfButton Content="" IconCss="e-icons e-undo" @onclick="() => UndoActivity(activity.ID)"/>
                        }
                    </div>
                </Template>
            </GridColumn>
        </GridColumns>
        <GridTemplates Context="context">
            <DetailTemplate>
                @{
                    // Memory optimization: Direct casting instead of 'as' casting with null check
                    CandidateActivity activity = (CandidateActivity)context;
                }
                @if (activity.Notes.NullOrWhiteSpace())
                {
                    <div class="blankActivityNotes">There are no Notes for this Activity.</div>
                }
                else
                {
                    <div class="activityNotes">@activity.Notes.ToMarkupString()</div>
                }
            </DetailTemplate>
        </GridTemplates>
    </SfGrid>
</div>