<SfDialog CssClass="dialogPopup" Header="Advanced Search" Height="796px" IsModal="true" MinHeight="500px" @ref="Dialog" Target="#divTarget" Visible="false" Width="700px">
	<ChildContent>
		<SfSpinner @bind-Visible="VisibleSpinner" CssClass="spinnerHeight" Type="SpinnerType.Fluent2" ZIndex="12000"/>
		<DialogPositionData X="center" Y="center"/>
		<DialogAnimationSettings Duration="500" Effect="DialogEffect.FadeZoom"/>
		<DialogEvents OnOpen="OpenDialog"/>
		<SfDataForm EditContext="Context" ID="searchForm" OnValidSubmit="SearchCandidateDialog" @ref="SearchForm" ValidationDisplayMode="FormValidationDisplay.Inline">
			<FormButtons>
				<SfButton CssClass="e-primary" type="submit">Search</SfButton>
				<SfButton CssClass="e-secondary" OnClick="CancelSearchDialog" type="button">Cancel</SfButton>
			</FormButtons>
			<FormItems>
				<FormGroup ColumnCount="2" ColumnSpacing="10px" CssClass="formGroup" ID="groupBasicInfo" LabelText="Basic Information">
					<FormItem ColumnSpan="1" Field="@nameof(Model.Code)">
						<Template>
							<TextBox @bind-Value="Model.Code" ID="textCode" MaxLength="255" Placeholder="Code"/>
						</Template>
					</FormItem>
					<FormItem ColumnSpan="1" Field="@nameof(Model.Title)">
						<Template>
							<TextBox @bind-Value="Model.Title" ID="textTitle" MaxLength="255" Placeholder="Job Position / Title"/>
						</Template>
					</FormItem>
					<FormItem ColumnSpan="2" Field="@nameof(Model.Company)">
						<Template>
							<DropDown @bind-Value="Model.Company" Model="Companies" ID="dropCompany" TItem="Company" TValue="string" Placeholder="Company" Text="CompanyName" Key="CompanyName" ShowClearButton="true"/>
						</Template>
					</FormItem>
					<FormItem ColumnSpan="2" Field="@nameof(Model.Option)">
						<Template>
							<DropDown @bind-Value="Model.Option" Model="JobOption" ID="dropJobOption" TItem="KeyValues" TValue="string" Placeholder="Job Option" Text="Text" Key="KeyValue" ShowClearButton="true"/>
						</Template>
					</FormItem>
					<FormItem ColumnSpan="2" Field="@nameof(Model.Status)">
						<Template>
							<label class="e-form-label" for="multiStatus">Select Status(es):</label>
							<SfMultiSelect @bind-Value="Model.Status" DataSource="@StatusDropDown" ID="multiStatus" Mode="VisualMode.Box" Placeholder="Select Status(es)" TItem="string"
										   TValue="string" Width="100%">
									<MultiSelectFieldSettings Text="Text" Value="KeyValue"/>
							</SfMultiSelect>
						</Template>
					</FormItem>
				</FormGroup>
				<FormGroup ColumnCount="2" ColumnSpacing="10px" CssClass="formGroup" ID="groupCreatedDates" LabelText="Requisition Created Date Range">
					<FormItem ColumnSpan="1" Field="@nameof(Model.CreatedOn)">
						<Template>
							<label class="e-form-label" for="dateCreatedStart">From:</label>
							<SfDatePicker @bind-Value="Model.CreatedOn" Format="MM/dd/yyyy" ID="dateCreatedStart" Max="@(DateTime.Today.AddMonths(36))" OpenOnFocus="true" Placeholder="Created Date Start"
										  TValue="DateTime">
								<DatePickerEvents TValue="DateTime" ValueChange="CreatedOnSelect"/>
							</SfDatePicker>
						</Template>
					</FormItem>
					<FormItem ColumnSpan="1" Field="@nameof(Model.CreatedOnEnd)">
						<Template>
							<label class="e-form-label" for="dateCreatedEnd">To:</label>
							<SfDatePicker @bind-Value="Model.CreatedOnEnd" Format="MM/dd/yyyy" ID="dateCreatedEnd" Max="@CreatedEndMax" Min="@CreatedEndMin" OpenOnFocus="true" Placeholder="Created Date End"
							              TValue="DateTime" @ref="CreatedMax">
							</SfDatePicker>
						</Template>
					</FormItem>
				</FormGroup>
				<FormGroup ColumnCount="2" ColumnSpacing="10px" CssClass="formGroup" ID="groupDueDates" LabelText="Requisition Due Date Range">
					<FormItem ColumnSpan="1" Field="@nameof(Model.Due)">
						<Template>
							<label class="e-form-label" for="dateDueStart">From:</label>
							<SfDatePicker @bind-Value="Model.Due" Format="MM/dd/yyyy" ID="dateDueStart" Max="@(DateTime.Today.AddMonths(36))" OpenOnFocus="true" Placeholder="Due Date Start" TValue="DateTime">
								<DatePickerEvents TValue="DateTime" ValueChange="DueOnSelect"/>
							</SfDatePicker>
						</Template>
					</FormItem>
					<FormItem ColumnSpan="1" Field="@nameof(Model.DueEnd)">
						<Template>
							<label class="e-form-label" for="dateDueEnd">To:</label>
							<SfDatePicker @bind-Value="Model.DueEnd" Format="MM/dd/yyyy" ID="dateDueEnd" Max="@DueEndMax" Min="@DueEndMin" OpenOnFocus="true" Placeholder="Due Date End" TValue="DateTime" @ref="DueMax"/>
						</Template>
					</FormItem>
				</FormGroup>
			</FormItems>
		</SfDataForm>
	</ChildContent>
</SfDialog>