@*
Copyright: Titan-Techs.
Location: Newtown, PA, USA
Solution: Subscription
Project: Subscription.Server
File Name: RequisitionInfoPanel.razor
Created By: Narendra Kumaran Kadhirvelu, Jolly Joseph Paily, DonBosco Paily, Mariappan Raja, Gowtham Selvaraj, Pankaj Sahu, Brijesh Dubey
Created On: 07-23-2025 20:07
Last Updated On: 07-23-2025 20:07
*@

<div class="layout-2">
    <div class="leftLayout">
        <PanelDisplayText Label="Company Name" Text="@(Model.CompanyName)"/>
        <PanelDisplayText Label="Contact Name" Text="@(Model.ContactName)"/>
        <PanelDisplayText Label="Job Title" Text="@(Model.PositionTitle)"/>
        <PanelDisplayText Label="No. of Positions" Text="@(Model.Positions.ToString())"/>
        <PanelDisplayText Label="Project Location" Text="@GetLocation()"/>
        <PanelDisplayText Label="Duration" Text="@(Model.Duration + " " + GetDurationCode(Model.DurationCode))"/>
        <PanelDisplayText Label="Expected Start Date" Text="@(Model.ExpectedStart.CultureDate())"/>
        <PanelDisplayText Label="Due Date" Text="@(Model.DueDate.CultureDate())"/>
        <PanelDisplayText Label="Expected Rate" Text="@($"{Model.ExpRateLow.CultureCurrency()} - {Model.ExpRateHigh.CultureCurrency()}")"/>
        <PanelDisplayText Label="Salary Expected" Text="@($"{Model.SalaryLow.CultureCurrency()} - {Model.SalaryHigh.CultureCurrency()}")"/>
        <PanelDisplayText Label="Load Expected" Text="@($"{Model.ExpLoadLow.CultureCurrency()} - {Model.ExpLoadHigh.CultureCurrency()}")"/>
        <PanelDisplayText Label="Placement Fee" Text="@(Model.PlacementFee.CulturePercentage())"/>
        <PanelDisplayText Label="Status" Text="@(Model.Status)"/>
    </div>
    <div class="leftLayout">
        <PanelDisplayText Label="Assigned Recruiter(s)" Text="@(Model.AssignedTo)"/>
        <PanelDisplayText Label="Priority" Text="@(Model.Priority)"/>
        <PanelDisplayText Label="Job Options" Text="@(Model.JobOptions)"/>
        <PanelDisplayText Label="Experience" Text="@(Model.Experience)"/>
        <PanelDisplayText Label="Report To" Text="@(Model.ReportTo)"/>
        <PanelDisplayText Label="Education" Text="@(Model.Education)"/>
        <PanelDisplayText Label="Eligibility" Text="@(Model.Eligibility)"/>
        <PanelDisplayText Label="Expenses Paid?" Text="@Model.ExpensesPaid.ToBooleanString("Yes", "No")"/>
        <PanelDisplayText Label="Security Clearance?" Text="@Model.SecurityClearance.ToBooleanString("Yes", "No")"/>
        <PanelDisplayText Label="OFCCP?" Text="@Model.OFCCP.ToBooleanString("Yes", "No")"/>
        <PanelDisplayText Label="Benefits?" Text="@Model.Benefits.ToBooleanString("Yes", "No")"/>
        <PanelDisplayText Label="Benefits Notes" MarkupText="@Model.BenefitNotes.ToMarkupString()"/>
    </div>
    <div class="rightLayout" style="display:flex; flex-direction:column;">
        <div style="font-weight: bold; height: 23px;">Description:</div>
        <div style="overflow-y: auto; flex: 1;">
            @Model.Description.ToMarkupString()
        </div>
        <div style="font-weight: bold; height: 23px; margin-top: 15px;">Skills:</div>
        <div style="flex: 1; overflow-y: auto;">
            @Skills
        </div>
    </div>
</div>