<SfDialog CssClass="dialogPopup" Header="@(Title + " Requisition")" Height="98vh" IsModal="true" MinHeight="98vh" @ref="Dialog" Target="#divTarget" Visible="false" Width="832px">
    <ChildContent>
        <SfSpinner @bind-Visible="VisibleSpinner" CssClass="spinnerHeight" @ref="Spinner" Type="SpinnerType.Fluent2" ZIndex="12000"/>
        <DialogPositionData X="right" Y="center"/>
        <DialogAnimationSettings Duration="500" Effect="DialogEffect.SlideRight"/>
        <DialogEvents OnOpen="DialogOpen"/>
        <SfDataForm EditContext="Context" ID="requisitionEditForm" OnValidSubmit="SaveRequisitionDialog" @ref="EditRequisitionForm" ValidationDisplayMode="FormValidationDisplay.Inline">
            <FormButtons>
                <SfButton CssClass="e-secondary" IconCss="e-icons e-close" OnClick="CancelDialog" type="button">Cancel</SfButton>
                <SfButton CssClass="e-primary" IconCss="e-icons e-save" type="submit">Save Requisition</SfButton>
            </FormButtons>
            <FormValidator>
                <FluentValidationValidator Validator="_requisitionDetailsValidator"/>
            </FormValidator>
            <FormItems>
                <FormGroup ColumnCount="3" ColumnSpacing="10px" CssClass="formGroup" ID="groupCompanyInfo" LabelText="Company Information">
                    <FormItem ColumnSpan="3" Field="@nameof(Model.CompanyID)">
                        <Template>
                            <DropDown @bind-Value="Model.CompanyID" DropDownValueChange="CompanyChanged" Model="Companies" ID="dropCompany" TItem="Company" TValue="int" Placeholder="Company Name" 
                                      Text="CompanyName" Key="ID" />
                        </Template>
                    </FormItem>
                    <FormItem ColumnSpan="3" Field="@nameof(Model.ContactID)">
                        <Template>
                            <DropDown @bind-Value="Model.ContactID" DataBound="ContactDataBound" Model="CompanyContactsFiltered" ID="dropCompanyContact" TItem="CompanyContacts" TValue="int" 
                                      Placeholder="Contact Name" Text="ContactName" Key="ID" DropDownValueChange="ContactChanged"/>@**@
                        </Template>
                    </FormItem>
                    <FormItem ColumnSpan="1" Field="@nameof(Model.CompanyCity)">
                        <Template>
                            <TextBox @bind-Value="Model.CompanyCity" ID="textCity" MaxLength="50" Placeholder="City" Readonly="true"/>
                        </Template>
                    </FormItem>
                    <FormItem ColumnSpan="1" Field="@nameof(Model.CompanyState)">
                        <Template>
                            <TextBox @bind-Value="Model.CompanyState" ID="textState" MaxLength="50" Placeholder="State" Readonly="true"/>
                        </Template>
                    </FormItem>
                    <FormItem ColumnSpan="1" Field="@nameof(Model.CompanyZip)">
                        <Template>
                            <TextBox @bind-Value="Model.CompanyZip" ID="textZip" MaxLength="5" Placeholder="Zip" Readonly="true"/>
                        </Template>
                    </FormItem>
                </FormGroup>
                <FormGroup ColumnCount="3" ColumnSpacing="10px" CssClass="formGroup" ID="groupProjectLocation" LabelText="Project Location">
                    <FormItem ColumnSpan="1" Field="@nameof(Model.ZipCode)">
                        <Template>
                            <MaskedTextBox @bind-Value="Model.ZipCode" ID="textLocZip" Mask="00000-0000" Placeholder="Zip Code"/>
                        </Template>
                    </FormItem>
                    <FormItem ColumnSpan="1" Field="@nameof(Model.City)">
                        <Template>
                            <TextBox @bind-Value="Model.City" ID="textLocCity" MaxLength="50" Placeholder="City"/>
                        </Template>
                    </FormItem>
                    <FormItem ColumnSpan="1" Field="@nameof(Model.StateID)">
                        <Template>
                            <DropDown @bind-Value="Model.StateID" Model="States" ID="dropLocState" TItem="StateCache" TValue="int" Placeholder="State" Text="Text" Key="KeyValue"/>
                        </Template>
                    </FormItem>
                </FormGroup>
                <FormGroup ColumnCount="3" ColumnSpacing="10px" CssClass="formGroup" ID="groupPositionInfo" LabelText="Position Information">
                    <FormItem ColumnSpan="3" Field="@nameof(Model.PositionTitle)">
                        <Template>
                            <TextBox @bind-Value="Model.PositionTitle" ID="textTitle" MaxLength="200" Placeholder="Position Title / Role"/>
                        </Template>
                    </FormItem>
                    <FormItem ColumnSpan="1" Field="@nameof(Model.Positions)">
                        <Template>
                            <NumericTextBox @bind-Value="Model.Positions" Decimals="0" ID="numericPositions" Max="500" Placeholder="No. of Positions" TValue="int" Format="n0"/>
                        </Template>
                    </FormItem>
                    <FormItem ColumnSpan="1" Field="@nameof(Model.ExpectedStart)">
                        <Template>
                            <label class="e-form-label" for="dateStart">Expected Start Date:</label>
                            <SfDatePicker @bind-Value="Model.ExpectedStart" Format="MM/dd/yyyy" ID="dateStart" Max="@(DateTime.Today.AddMonths(6))" Min="@(DateTime.Today.AddMonths(-3))" 
                                          OpenOnFocus="true" Placeholder="Start Date" TValue="DateTime">
                            </SfDatePicker>
                        </Template>
                    </FormItem>
                    <FormItem ColumnSpan="1" Field="@nameof(Model.DueDate)">
                        <Template>
                            <label class="e-form-label" for="dateDue">Expected Due Date:</label>
                            <SfDatePicker @bind-Value="Model.ExpectedStart" Format="MM/dd/yyyy" ID="dateDue" Max="@(DateTime.Today.AddMonths(6))" Min="@(DateTime.Today.AddMonths(-3))" 
                                          OpenOnFocus="true" Placeholder="Start Date" TValue="DateTime">
                            </SfDatePicker>
                        </Template>
                    </FormItem>
                    <FormItem ColumnSpan="3" Field="@nameof(Model.Description)">
                        <Template>
                            <label class="e-form-label" for="textPositionDescription">Position Description:</label>
                            <SfRichTextEditor @bind-Value="Model.Description" ID="textPositionDescription" CssClass="@CssClassName" Height="300px">
                                <RichTextEditorToolbarSettings Items="_tools1"/>
                            </SfRichTextEditor>
                        </Template>
                    </FormItem>
                </FormGroup>
                <FormGroup ColumnCount="1" ColumnSpacing="10px" CssClass="formGroup" ID="groupSkillsInfo" LabelText="Skills Information">
                    <FormItem ColumnSpan="1" Field="@nameof(Model.SkillsRequired)">
                        <Template>
                            <MultiSelect @bind-Value="Model.SkillsRequired" Model="Skills" ID="multiSkills" Placeholder="Select Skill(s) Required" TItem="IntValues" TValue="string" Text="Text" Key="KeyValue"/>
                        </Template>
                    </FormItem>
                    <FormItem ColumnSpan="1" Field="@nameof(Model.Mandatory)">
                        <Template>
                            <TextArea @bind-Value="Model.Mandatory" ID="textKeywords" MaxLength="2000" Placeholder="Keywords (comma separated)" Rows="5"></TextArea>
                        </Template>
                    </FormItem>
                </FormGroup>
                <FormGroup ColumnCount="2" ColumnSpacing="10px" CssClass="formGroup" ID="groupPriorityEligibility" LabelText="Priority and Eligibility">
                    <FormItem ColumnSpan="1" Field="@nameof(Model.PriorityID)">
                        <Template>
                            <DropDown @bind-Value="Model.PriorityID" Model="Priority" ID="dropPriority" TItem="IntValues" TValue="int" Placeholder="Priority" Text="Text" Key="KeyValue"/>
                        </Template>
                    </FormItem>
                    <FormItem ColumnSpan="1" Field="@nameof(Model.EligibilityID)">
                        <Template>
                            <DropDown @bind-Value="Model.EligibilityID" Model="Eligibility" ID="dropEligibility" TItem="IntValues" TValue="int" Placeholder="Eligibility" Text="Text" Key="KeyValue"/>
                        </Template>
                    </FormItem>
                </FormGroup>
                <FormGroup ColumnCount="3" ColumnSpacing="10px" CssClass="formGroup" ID="groupExperienceEducation" LabelText="Experience and Education">
                    <FormItem ColumnSpan="1" Field="@nameof(Model.ExperienceID)">
                        <Template>
                            <DropDown @bind-Value="Model.ExperienceID" Model="Experience" ID="dropExperience" TItem="IntValues" TValue="int" Placeholder="Experience" Text="Text" Key="KeyValue"/>
                        </Template>
                    </FormItem>
                    <FormItem ColumnSpan="1" Field="@nameof(Model.EducationID)">
                        <Template>
                            <DropDown @bind-Value="Model.EducationID" Model="Education" ID="dropEducation" TItem="IntValues" TValue="int" Placeholder="Education" Text="Text" Key="KeyValue"/>
                        </Template>
                    </FormItem>
                    <FormItem ColumnSpan="1" Field="@nameof(Model.JobOptionID)">
                        <Template>
                            <DropDown @bind-Value="Model.JobOptionID" Model="JobOptions" ID="dropJobOptions" TItem="JobOptions" TValue="string" Placeholder="Job Options" Text="Text" Key="KeyValue" DropDownValueChange="JobOptionChanged"/>
                        </Template>
                    </FormItem>
                </FormGroup>
                <FormGroup ColumnCount="1" ColumnSpacing="10px" CssClass="formGroup" ID="groupRecruiters" LabelText="Recruiters">
                    <FormItem ColumnSpan="1" Field="@nameof(Model.AssignedTo)">
                        <Template>
                            <MultiSelect @bind-Value="Model.AssignedTo" Model="Recruiters" ID="multiAssigned" Placeholder="Recruiters Assigned To" TItem="KeyValues" TValue="string" Text="Text" Key="KeyValue"/>
                        </Template>
                    </FormItem>
                </FormGroup>
                <FormGroup ColumnCount="3" ColumnSpacing="10px" CssClass="formGroup" ID="groupAdditionalInfo" LabelText="Additional Information">
                    <FormItem ColumnSpan="1" Field="@nameof(Model.ExpensesPaid)" IsEnabled="@_expenses" LabelText="Expenses Paid?" ID="checkedExpenses" EditorType="FormEditorType.Switch"/>
                    <FormItem ColumnSpan="1" Field="@nameof(Model.SecurityClearance)" LabelText="Security Clearance?" ID="checkedSecurity" EditorType="FormEditorType.Switch"/>
                    <FormItem ColumnSpan="1" Field="@nameof(Model.OFCCP)" LabelText="OFFCP Compliance Required?" ID="checkedOFFCP" EditorType="FormEditorType.Switch"/>
                </FormGroup>
                <FormGroup ColumnCount="5" ColumnSpacing="10px" CssClass="formGroup" ID="groupFinancialInfo" LabelText="Hourly Rate Information">
                    <FormItem ColumnSpan="1" Field="@nameof(Model.Duration)">
                        <Template>
                            <TextBox @bind-Value="Model.Duration" Enabled="@_duration" ID="textDuration" MaxLength="4" Placeholder="Duration"/>
                        </Template>
                    </FormItem>
                    <FormItem ColumnSpan="1" Field="@nameof(Model.DurationCode)">
                        <Template>
                            <DropDown @bind-Value="Model.DurationCode" Enabled="@_duration" Model="DurationCode" ID="dropDurationCode" TItem="KeyValues" TValue="string" Placeholder="Duration Code" Text="Text" Key="KeyValue"/>
                        </Template>
                    </FormItem>
                    <FormItem ColumnSpan="1" Field="@nameof(Model.ExpRateLow)">
                        <Template>
                            <NumericTextBox @bind-Value="Model.ExpRateLow" Enabled="@_rate" ID="numericPayRateFrom" Max="10000" Placeholder="Pay Rate/Hr From" TValue="decimal"/>
                        </Template>
                    </FormItem>
                    <FormItem ColumnSpan="1" Field="@nameof(Model.ExpRateHigh)">
                        <Template>
                            <NumericTextBox @bind-Value="Model.ExpRateHigh" Enabled="@_rate" ID="numericPayRateTo" Max="10000" Placeholder="Pay Rate/Hr To" TValue="decimal"/>
                        </Template>
                    </FormItem>
                    <FormItem ColumnSpan="1" Field="@nameof(Model.PlacementFee)">
                        <Template>
                            <NumericTextBox @bind-Value="Model.PlacementFee" Enabled="@_placementFee" Format="00.00 '%'" ID="numericPlacementFee" Max="100" Placeholder="Placement Fee" TValue="decimal" />
                        </Template>
                    </FormItem>
                </FormGroup>
                <FormGroup ColumnCount="4" ColumnSpacing="10px" CssClass="formGroup" ID="groupSalaryInfo" LabelText="Salary/Load Information">
                    <FormItem ColumnSpan="1" Field="@nameof(Model.SalaryLow)">
                        <Template>
                            <NumericTextBox @bind-Value="Model.SalaryLow" ID="numericSalaryLow" Enabled="@_salary" Max="10_000_000" Placeholder="Min. Salary" TValue="decimal"/>
                        </Template>
                    </FormItem>
                    <FormItem ColumnSpan="1" Field="@nameof(Model.SalaryHigh)">
                        <Template>
                            <NumericTextBox @bind-Value="Model.SalaryHigh" ID="numericSalaryHigh" Enabled="@_salary" Max="10_000_000" Placeholder="Max. Salary" TValue="decimal"/>
                        </Template>
                    </FormItem>
                    <FormItem ColumnSpan="1" Field="@nameof(Model.ExpLoadLow)">
                        <Template>
                            <NumericTextBox @bind-Value="Model.ExpLoadLow" ID="numericLoadLow" Max="10_300" Enabled="@_salary" Placeholder="Min. Load Rate" TValue="decimal"/>
                        </Template>
                    </FormItem>
                    <FormItem ColumnSpan="1" Field="@nameof(Model.ExpLoadHigh)">
                        <Template>
                            <NumericTextBox @bind-Value="Model.ExpLoadHigh" ID="numericLoadHigh" Max="10_300" Enabled="@_salary" Placeholder="Max. Load Rate" TValue="decimal"/>
                        </Template>
                    </FormItem>
                </FormGroup>
                <FormGroup ColumnCount="1" ColumnSpacing="10px" CssClass="formGroup" ID="groupBenefitsInfo" LabelText="Benefits">
                    <FormItem ColumnSpan="1" Field="@nameof(Model.BenefitNotes)">
                        <Template>
                            <TextArea @bind-Value="Model.BenefitNotes" Enabled="@_benefits" ID="textBenefits" MaxLength="8000" Placeholder="Benefits" Rows="5"></TextArea>
                        </Template>
                    </FormItem>
                </FormGroup>
            </FormItems>
        </SfDataForm>
    </ChildContent>
</SfDialog>