@typeparam TValue
           @typeparam TItem

<label class="e-form-label" for="@ID">@($"{Placeholder}:")</label>
<SfDropDownList AllowFiltering="@AllowFilter" DataSource="@Model" FilterBarPlaceholder="Search..." FilterType="FilterType.Contains" ID="@ID" @ref="_drop" Query="@Query" ShowClearButton="@ShowClearButton" TItem="TItem"
                TValue="TValue" Value="@Value" ValueChanged="@ValueChanged" ValueExpression="@ValueExpression" Width="@Width" Placeholder="@Placeholder">
    <DropDownListEvents TItem="TItem" TValue="TValue" ValueChange="@DropDownValueChange" DataBound="@DataBound"/>
    <DropDownListFieldSettings Text="@Text" Value="@Key"/>
</SfDropDownList>