<label class="e-form-label" for="@ID">@($"{Placeholder}:")</label>
<SfMaskedTextBox ID="@ID" Mask="@Mask" Placeholder="@Placeholder" Value="@Value" ValueChanged="@ValueChanged" ValueExpression="@ValueExpression" Width="@Width" Readonly="@Readonly" />