<label class="e-form-label" for="@ID">@($"{Placeholder}:")</label>
<SfMaskedTextBox Blur="OnBlur" Enabled="@Enabled" Focus="OnFocus" ID="@ID" Mask="@Mask" Placeholder="@Placeholder" Readonly="@Readonly" Value="@Value" ValueChanged="@ValueChanged" ValueExpression="@ValueExpression" Width="@Width">
</SfMaskedTextBox>