@typeparam TValue
<label class="e-form-label" for="@ID">@($"{Placeholder}:")</label>
<SfNumericTextBox Decimals="@Decimals" Format="@Format" ID="@ID" Max="@Max" Min="@Min" Placeholder="@Placeholder" ShowSpinButton="@ShowSpinButton" TValue="TValue" 
                  Value="@Value" ValueChanged="ValueChanged" ValueExpression="@ValueExpression" Currency="@Currency"/>