@typeparam TValue
<label class="e-form-label" for="@ID">@(Placeholder + ":")</label>
<SfNumericTextBox Currency="@Currency" Decimals="@Decimals" Enabled="@Enabled" Format="@Format" ID="@ID" Max="@Max" Min="@Min" Placeholder="@Placeholder" ShowSpinButton="@ShowSpinButton" TValue="TValue" 
                  Value="@Value" ValueChanged="ValueChanged" />