<label class="e-form-label" for="@ID">@(Placeholder + ":")</label>
<SfTextBox Autocomplete="AutoComplete.Off" FloatLabelType="FloatLabelType.Never" ID="@ID" MaxLength="@MaxLength" Placeholder="@Placeholder" Readonly="@Readonly" @ref="Box" Type="@TextBoxType"
           ValidateOnInput="@ValidateOnInput" Value="@Value" ValueChanged="ValueChanged" ValueExpression="@ValueExpression" Width="@Width"/>
