<label class="e-form-label" for="@ID">@(Placeholder + ":")</label>
<SfTextArea ID="@ID" MaxLength="@MaxLength" Placeholder="@Placeholder" ReadOnly="@Readonly" ResizeMode="@ResizeMode" RowCount="@Rows" Value="@Value" ValueChanged="ValueChanged" ValueExpression="@ValueExpression" Width="@Width"/>