@page "/Admin/DocumentType"
@layout SubscriptionLayout

<PageHeader PageName="Document Type"/>
<AdminGrid AddMethod="() => EditDocumentTypeAsync()" AutocompleteMethod="Admin_SearchDocumentTypes" AutocompleteParameter="@("DocumentType")" Name="@DocumentTypeAuto"
           Entity="DocumentType" HeaderContentPlural="Document Types" HeaderContentSingular="Document Type" Height="140px" Page="DocumentType" @ref="AdminGrid"
           RefreshGrid="RefreshGrid" RoleID="@RoleID" ValueChange="FilterGrid" Width="346px">
	<GridContent>
		<SfSpinner @bind-Visible="@VisibleSpinner" CssClass="spinnerHeight" Type="SpinnerType.Fluent2" ZIndex="12000"/>@**@
		<SfGrid AllowMultiSorting="false" AllowPaging="false" AllowSelection="true" AllowSorting="false" DataSource="@DataSource" EnableHover="true" EnableStickyHeader="true" 
				Height="100%" ID="gridCompany" @ref="Grid" TValue="DocumentTypes" Width="100%">
			<GridSelectionSettings EnableToggle="true" Mode="GridSelectionMode.Row" Type="GridSelectionType.Single"/>
			<GridEvents DataBound="DataBound" RowSelecting="RowSelected" TValue="DocumentTypes"/>
			<GridColumns>
				<GridColumn Field="Text" HeaderText="DocumentType" Width="70%">
					<Template Context="aCon">
						@{
							if (aCon is DocumentTypes _con)
							{
								<span class="point" @onclick="() => EditDocumentTypeAsync(_con.KeyValue)">@_con.Text</span>
							}
						}
					</Template>
				</GridColumn>
				<GridColumn Field="@nameof(DocumentTypes.KeyValue)" HeaderText="ID" IsPrimaryKey="true" Visible="false" Width="0"/>
				<GridColumn Field="@nameof(DocumentTypes.LastUpdatedDate)" HeaderText="Last Updated" Width="20%"/>
				<GridColumn Width="10%">
					<Template Context="aCon">
						@{
							if (aCon is DocumentTypes _con)
							{
								<div class="buttonContain">
									<SfButton Content="" IconCss="e-icons e-edit" @onclick="() => EditDocumentTypeAsync(_con.KeyValue)" title="Edit Title"/>
								</div>
							}
						}
					</Template>
				</GridColumn>
			</GridColumns>
		</SfGrid>
	</GridContent>
</AdminGrid>

<DocumentTypeDialog HeaderString="@($"{Title} Document Type")" Model="DocumentTypeRecordClone" @ref="@DocumentTypeDialog" Save="SaveDocumentType"/>