@page "/Admin/Education"
@layout SubscriptionLayout

<PageHeader/>
<AdminGrid AddMethod="() => EditEducationAsync()" AutocompleteMethod="Admin_SearchEducation" AutocompleteParameter="@("Education")" Name="@EducationAuto"
           Entity="Education" HeaderContentPlural="Education" HeaderContentSingular="Education" Height="140px" Page="Education" @ref="AdminGrid"
           RefreshGrid="RefreshGrid" RoleID="@RoleID" ValueChange="FilterGrid" Width="346px">
	<GridContent>
		<SfSpinner @bind-Visible="@VisibleSpinner" CssClass="spinnerHeight" @ref="@Spinner" Type="SpinnerType.Fabric" ZIndex="12000"/>@**@
		<SfGrid AllowMultiSorting="false" AllowPaging="true" AllowSelection="true" AllowSorting="false" DataSource="@DataSource" EnableHover="true" EnableStickyHeader="true" Height="100%" 
				ID="gridCompany" @ref="Grid" TValue="AdminList" Width="100%">
			<GridPageSettings CurrentPage="1" PageCount="1" PageSize="2000"/>
			<GridSelectionSettings EnableToggle="true" Mode="GridSelectionMode.Row" Type="GridSelectionType.Single"/>
			@* <SfDataManager Adaptor="Adaptors.CustomAdaptor" AdaptorInstance="@typeof(AdminEducationAdaptor)" Key="ID"/> *@
			<GridEvents DataBound="DataBound" RowSelecting="RowSelected" TValue="AdminList"/>
			<GridColumns>
				<GridColumn Field="Text" HeaderText="Education" Width="50%">
					<Template Context="aCon">
						@{
							if (aCon is AdminList _con)
							{
								<span class="point" @onclick="() => EditEducationAsync(_con.ID)">@_con.Text</span>
							}
						}
					</Template>
				</GridColumn>
				<GridColumn Field="@nameof(AdminList.ID)" HeaderText="ID" IsPrimaryKey="true" Visible="false" Width="0"/>
				<GridColumn Field="@nameof(AdminList.Enabled)" HeaderText="Status" Width="10%">
					<Template Context="aCon">
						@{
							if (aCon is AdminList _con)
							{
								<span>@(_con.IsEnabled ? "Active" : "Inactive")</span>
							}
						}
					</Template>
				</GridColumn>
				<GridColumn Field="@nameof(AdminList.UpdatedDate)" Format="d" HeaderText="Last Updated" Width="15%"/>
				<GridColumn Field="@nameof(AdminList.CreatedDate)" HeaderText="Created" Width="15%"/>
				<GridColumn Width="10%">
					<Template Context="aCon">
						@{
							if (aCon is AdminList _con)
							{
								<div class="buttonContain">
									<SfButton Content="" IconCss="e-icons e-edit" @onclick="() => EditEducationAsync(_con.ID)" title="Edit Title"/>
									<SfButton Content="" IconCss="e-icons e-repeat" @onclick="() => ToggleMethod(_con.ID, _con.IsEnabled)"
									          title="@($"{(_con.IsEnabled ? "Disable" : "Enable")} Education")"/>
								</div>
							}
						}
					</Template>
				</GridColumn>
			</GridColumns>
		</SfGrid>
	</GridContent>
</AdminGrid>

<AdminListDialog HeaderString="@($"{Title} Education")" Model="EducationRecordClone" Placeholder="Education" @ref="AdminDialog" Save="SaveEducation"/>