@page "/Admin/Experience"
@layout SubscriptionLayout

<PageHeader PageName="Experience"/>
<AdminGrid AddMethod="() => EditExperienceAsync()" AutocompleteMethod="Admin_SearchExperience" AutocompleteParameter="@("Experience")" Name="@ExperienceAuto"
           Entity="Experience" HeaderContentPlural="Experiences" HeaderContentSingular="Experience" Height="140px" Page="Experience" @ref="AdminGrid"
           RefreshGrid="RefreshGrid" RoleID="@RoleID" ValueChange="FilterGrid" Width="346px">
	<GridContent>
		<SfSpinner @bind-Visible="@VisibleSpinner" CssClass="spinnerHeight" @ref="@Spinner" Type="SpinnerType.Fluent2" ZIndex="12000"/>@**@
		<SfGrid AllowMultiSorting="false" AllowPaging="true" AllowSelection="true" AllowSorting="false" DataSource="@DataSource" EnableHover="true" EnableStickyHeader="true" Height="100%" 
				ID="gridCompany" @ref="Grid" TValue="AdminList" Width="100%">
			<GridPageSettings CurrentPage="1" PageCount="1" PageSize="2000"/>
			<GridSelectionSettings EnableToggle="true" Mode="GridSelectionMode.Row" Type="GridSelectionType.Single"/>
			@* <SfDataManager Adaptor="Adaptors.CustomAdaptor" AdaptorInstance="@typeof(AdminExperienceAdaptor)" Key="ID"/> *@
			<GridEvents DataBound="DataBound" RowSelecting="RowSelected" TValue="AdminList"/>
			<GridColumns>
				<GridColumn Field="Text" HeaderText="Experience" Width="50%">
					<Template Context="aCon">
						@{
							if (aCon is AdminList _con)
							{
								<span class="point" @onclick="() => EditExperienceAsync(_con.ID)">@_con.Text</span>
							}
						}
					</Template>
				</GridColumn>
				<GridColumn Field="@nameof(AdminList.ID)" HeaderText="ID" IsPrimaryKey="true" Visible="false" Width="0"/>
				<GridColumn Field="@nameof(AdminList.Enabled)" HeaderText="Status" Width="10%">
					<Template Context="aCon">
						@{
							if (aCon is AdminList _con)
							{
								<span>@(_con.IsEnabled ? "Active" : "Inactive")</span>
							}
						}
					</Template>
				</GridColumn>
				<GridColumn Field="@nameof(AdminList.UpdatedDate)" Format="d" HeaderText="Last Updated" Width="15%"/>
				<GridColumn Field="@nameof(AdminList.CreatedDate)" HeaderText="Created" Width="15%"/>
				<GridColumn Width="10%">
					<Template Context="aCon">
						@{
							if (aCon is AdminList _con)
							{
								<div class="buttonContain">
									<SfButton Content="" IconCss="e-icons e-edit" @onclick="() => EditExperienceAsync(_con.ID)" title="Edit Title"/>
									<SfButton Content="" IconCss="e-icons e-repeat" @onclick="() => ToggleMethod(_con.ID, _con.IsEnabled)"
									          title="@($"{(_con.IsEnabled ? "Disable" : "Enable")} Title")"/>
								</div>
							}
						}
					</Template>
				</GridColumn>
			</GridColumns>
		</SfGrid>
	</GridContent>
</AdminGrid>

<AdminListDialog HeaderString="@($"{Title} Experience")" Model="ExperienceRecordClone" Placeholder="Experience" @ref="AdminDialog" Save="SaveExperience"/>