@page "/Admin/Role"
@layout SubscriptionLayout

<PageHeader/>
<AdminGrid AddMethod="() => EditRoleAsync()" AutocompleteMethod="Admin_SearchRole" AutocompleteParameter="@("Role")" Name="@RoleAuto"
           Entity="Role" HeaderContentPlural="Roles" HeaderContentSingular="Role" Height="140px" Page="Role" @ref="AdminGrid"
           RefreshGrid="RefreshGrid" RoleID="@RoleID" ValueChange="FilterGrid" Width="346px">
	<GridContent>
		<SfSpinner @bind-Visible="@VisibleSpinner" CssClass="spinnerHeight" @ref="@Spinner" Type="SpinnerType.Fabric" ZIndex="12000"/>@**@
		<SfGrid AllowMultiSorting="false" AllowSelection="true" AllowSorting="false" DataSource="@DataSource" EnableHover="true" EnableStickyHeader="true" Height="100%"
		        ID="gridCompany" @ref="Grid" TValue="Role" Width="100%">
			<GridPageSettings CurrentPage="1" PageCount="1" PageSize="2000"/>
			<GridSelectionSettings EnableToggle="true" Mode="GridSelectionMode.Row" Type="GridSelectionType.Single"/>
			<GridEvents DataBound="DataBound" RowSelecting="RowSelected" TValue="Role"/>
			<GridColumns>
				<GridColumn Field="Text" HeaderText="Role" Width="20%">
					<Template Context="aCon">
						@{
							if (aCon is Role _con)
							{
								<span class="point" @onclick="() => EditRoleAsync(_con.ID)">@_con.RoleName</span>
							}
						}
					</Template>
				</GridColumn>
				<GridColumn Field="@nameof(Role.Description)" HeaderText="Role Description" Width="35%"/>
				<GridColumn Field="@nameof(Role.ID)" HeaderText="ID" IsPrimaryKey="true" Visible="false" Width="0"/>
				<GridColumn Field="@nameof(Role.UpdatedDate)" HeaderText="Last Updated" Width="15%"/>
				<GridColumn Field="@nameof(Role.CreatedDate)" HeaderText="Created" Width="15%"/>
				<GridColumn Width="10%">
					<Template Context="aCon">
						@{
							if (aCon is Role _con)
							{
								<div class="buttonContain">
									<SfButton Content="" IconCss="e-icons e-edit" @onclick="() => EditRoleAsync(_con.ID)" title="Edit Title"/>
								</div>
							}
						}
					</Template>
				</GridColumn>
			</GridColumns>
		</SfGrid>
	</GridContent>
</AdminGrid>

<RoleDialog HeaderString="@($"{Title} Role")" Model="RoleRecordClone" Placeholder="Role" @ref="RoleDialog" Save="SaveRole"/>