@page "/Admin/Skill"
@layout SubscriptionLayout

<PageHeader/>
<AdminGrid AddMethod="() => EditSkillAsync()" AutocompleteMethod="Admin_SearchSkill" AutocompleteParameter="Skill" Name="@SkillAuto"
           Entity="Skill" HeaderContentPlural="Skills" HeaderContentSingular="Skill" Height="140px" Page="Skill" @ref="AdminGrid"
           RefreshGrid="RefreshGrid" RoleID="@RoleID" ValueChange="FilterGrid" Width="346px">
	<GridContent>
		<SfSpinner @bind-Visible="@VisibleSpinner" CssClass="spinnerHeight" @ref="@Spinner" Type="SpinnerType.Fabric" ZIndex="12000"/>@**@
		<SfGrid AllowMultiSorting="false" AllowSelection="true" AllowSorting="false" DataSource="@DataSource" EnableHover="true" EnableStickyHeader="true" EnableVirtualization="true" Height="100%" 
				ID="gridCompany" @ref="Grid" TValue="AdminList" Width="100%">
			<GridPageSettings PageSize="50"/>
			<GridSelectionSettings EnableToggle="true" Mode="GridSelectionMode.Row" Type="GridSelectionType.Single"/>
			<GridEvents DataBound="DataBound" RowSelecting="RowSelected" TValue="AdminList"/>
			<GridColumns>
				<GridColumn Field="Text" HeaderText="Skill" Width="50%">
					<Template Context="aCon">
						@{
							if (aCon is AdminList _con)
							{
								<span class="point" @onclick="() => EditSkillAsync(_con.ID)">@_con.Text</span>
							}
						}
					</Template>
				</GridColumn>
				<GridColumn Field="@nameof(AdminList.ID)" HeaderText="ID" IsPrimaryKey="true" Visible="false" Width="0"/>
				<GridColumn Field="@nameof(AdminList.Enabled)" HeaderText="Status" Width="10%">
					<Template Context="aCon">
						@{
							if (aCon is AdminList _con)
							{
								<span>@(_con.IsEnabled ? "Active" : "Inactive")</span>
							}
						}
					</Template>
				</GridColumn>
				<GridColumn Field="@nameof(AdminList.UpdatedDate)" Format="d" HeaderText="Last Updated" Width="15%"/>
				<GridColumn Field="@nameof(AdminList.CreatedDate)" HeaderText="Created" Width="15%"/>
				<GridColumn Width="10%">
					<Template Context="aCon">
						@{
							if (aCon is AdminList _con)
							{
								<div class="buttonContain">
									<SfButton Content="" IconCss="e-icons e-edit" @onclick="() => EditSkillAsync(_con.ID)" title="Edit Title"/>
									<SfButton Content="" IconCss="e-icons e-repeat" @onclick="() => ToggleMethod(_con.ID, _con.IsEnabled)"
									          title="@($"{(_con.IsEnabled ? "Disable" : "Enable")} Title")"/>
								</div>
							}
						}
					</Template>
				</GridColumn>
			</GridColumns>
		</SfGrid>
	</GridContent>
</AdminGrid>

<AdminListDialog HeaderString="@($"{Title} Skill")" Model="SkillRecordClone" Placeholder="Skill" @ref="AdminDialog" Save="SaveSkill"/>