@page "/Admin/Template"
@layout SubscriptionLayout

<PageHeader PageName="Template"/>
<AdminGrid AddMethod="() => EditTemplateAsync()" AutocompleteMethod="Admin_SearchTemplate" AutocompleteParameter="Template" Entity="Template" HeaderContentPlural="Templates" HeaderContentSingular="Template" 
		   Height="140px" Name="@TemplateAuto" Page="Template" RefreshGrid="RefreshGrid" RoleID="@RoleID" ValueChange="FilterGrid" Width="346px">
	<GridContent>
		<SfSpinner @bind-Visible="@VisibleSpinner" CssClass="spinnerHeight" Type="SpinnerType.Fluent2" ZIndex="12000"/>
		<SfGrid AllowMultiSorting="false" AllowSelection="true" AllowSorting="false" DataSource="@DataSource" EnableHover="true" EnableStickyHeader="true" EnableVirtualization="true" Height="100%"
		        ID="gridCompany" @ref="Grid" TValue="AppTemplate" Width="100%">
			<GridSelectionSettings EnableToggle="true" Mode="GridSelectionMode.Row" Type="GridSelectionType.Single"/>
			<GridEvents DataBound="DataBound" RowSelecting="RowSelected" TValue="AppTemplate"/>
			<GridColumns>
				<GridColumn Field="Text" HeaderText="Template" Width="20%">
					<Template Context="aCon">
						@{
							if (aCon is AppTemplate _con)
							{
								<span class="point" @onclick="() => EditTemplateAsync()">@_con.TemplateName</span>
							}
						}
					</Template>
				</GridColumn>
				<GridColumn Field="Text" HeaderText="Template Action" Width="30%">
					<Template Context="aCon">
						@{
							if (aCon is AppTemplate _con)
							{
								<span class="point" @onclick="() => EditTemplateAsync()">@_con.ActionText</span>
							}
						}
					</Template>
				</GridColumn>
				<GridColumn Field="@nameof(AppTemplate.ID)" HeaderText="ID" IsPrimaryKey="true" Visible="false" Width="0"/>
				<GridColumn Field="@nameof(AppTemplate.Status)" HeaderText="Status" Width="10%">
					<Template Context="aCon">
						@{
							if (aCon is AppTemplate _con)
							{
								<span>@(_con.IsEnabled ? "Active" : "Inactive")</span>
							}
						}
					</Template>
				</GridColumn>
				<GridColumn Field="@nameof(AppTemplate.UpdatedDate)" Format="d" HeaderText="Last Updated" Width="15%"/>
				<GridColumn Field="@nameof(AppTemplate.CreatedDate)" HeaderText="Created" Width="15%"/>
				<GridColumn Width="10%">
					<Template Context="aCon">
						@{
							if (aCon is AppTemplate _con)
							{
								<div class="buttonContain">
									<SfButton Content="" IconCss="e-icons e-edit" @onclick="() => EditTemplateAsync(_con.ID)" title="Edit Title"/>
									<SfButton Content="" IconCss="e-icons e-repeat" @onclick="() => ToggleMethod(_con.ID, _con.IsEnabled)"
									          title="@($"{(_con.IsEnabled ? "Disable" : "Enable")} Title")"/>
								</div>
							}
						}
					</Template>
				</GridColumn>
			</GridColumns>
		</SfGrid>
	</GridContent>
</AdminGrid>

@*
<TemplateDialog HeaderString="@($"{Title} Template")" Model="AppTemplateRecordClone" OriginalTemplateName="@(AppTemplateRecord.TemplateName)" @ref="TemplateDialog" Save="SaveTemplate" />*@