@page "/Admin/Workflow"
@layout SubscriptionLayout

<PageHeader PageName="Workflow"/>
<AdminGrid AddMethod="() => EditWorkflowAsync()" AutocompleteMethod="Admin_SearchWorkflow" AutocompleteParameter="@("Workflow")" Entity="Workflow" HeaderContentPlural="Job Option"
           HeaderContentSingular="Workflow" Height="140px" Name="@WorkflowAuto" Page="Workflow" PopupWidth="350px" RefreshGrid="RefreshGrid" RoleID="@RoleID" ValueChange="FilterGrid" Width="346px">
	<GridContent>
		<SfSpinner @bind-Visible="@VisibleSpinner" CssClass="spinnerHeight" Type="SpinnerType.Fluent2" ZIndex="12000"/>@**@
		<SfGrid AllowMultiSorting="false" AllowSelection="true" AllowSorting="false" DataSource="@DataSource" EnableHover="true" EnableStickyHeader="true" EnableVirtualization="true" Height="100%"
		        ID="gridCompany" @ref="Grid" TValue="Workflow" Width="100%">
			<GridPageSettings PageSize="2000"/>
			<GridSelectionSettings EnableToggle="true" Mode="GridSelectionMode.Row" Type="GridSelectionType.Single"/>
			<GridEvents DataBound="DataBound" RowSelecting="RowSelected" TValue="Workflow"/>
			<GridColumns>
				<GridColumn Field="Text" HeaderText="Step" Width="15%">
					<Template Context="aCon">
						@{
							if (aCon is Workflow _con)
							{
								<span class="point" @onclick="() => EditWorkflowAsync(_con.ID)">@_con.Step</span>
							}
						}
					</Template>
				</GridColumn>
				<GridColumn Field="@nameof(Workflow.ID)" HeaderText="ID" IsPrimaryKey="true" Visible="false" Width="0"/>
				<GridColumn Field="@nameof(Workflow.NextFull)" HeaderText="Next" Width="28%">
					<Template Context="aCon">
						@{
							if (aCon is Workflow _con)
							{
								<div title="@_con.NextFull" style="width:100%;word-wrap: break-word; white-space: normal;">@(_con.NextFull)</div>/*.Replace(",", "<br/>").ToMarkupString()*/
							}
						}
					</Template>
				</GridColumn>
				<GridColumn Field="@nameof(Workflow.IsLast)" HeaderText="Is Last?" Width="7%"/>
				<GridColumn Field="@nameof(Workflow.RoleFull)" HeaderText="Roles?" Width="28%">
					<Template Context="aCon">
						@{
							if (aCon is Workflow _con)
							{
								<span title="@_con.RoleFull" style="width:100%;word-wrap: break-word; white-space: normal;">@(_con.RoleFull)</span>
							}
						}
					</Template>
				</GridColumn>
				<GridColumn Field="@nameof(Workflow.Schedule)" HeaderText="Schedule?" Width="7"/>
				<GridColumn Field="@nameof(Workflow.AnyStage)" HeaderText="Any Stage?" Width="7%"/>
				<GridColumn Width="7%">
					<Template Context="aCon">
						@{
							if (aCon is Workflow _con)
							{
								<div class="buttonContain">
									<SfButton Content="" IconCss="e-icons e-edit" @onclick="() => EditWorkflowAsync(_con.ID)" title="Edit Title"/>
								</div>
							}
						}
					</Template>
				</GridColumn>
			</GridColumns>
		</SfGrid>
	</GridContent>
</AdminGrid>
<WorkflowDialog HeaderString="@($"{Title} Workflow")" Model="@WorkflowRecordClone" @ref="WorkflowDialog" Save="SaveWorkflow" Role="@Roles" Next="@Next"/>