<div class="e-footer-content">
	<SfButton Content="@Save" Disabled="@SaveDisabled" IconCss="saveButton" IconPosition="IconPosition.Left" IsPrimary="true" @ref="SaveButton" type="submit" />
	<SfButton Content="@Cancel" Disabled="@CancelDisabled" IconCss="closeButton" IconPosition="IconPosition.Left" OnClick="@CancelMethod" @ref="CancelButton" type="button" />
</div>