<div id="divMainGrid">
    <div id="divHeader">
    </div>
    <div id="divGrid">
        @GridContent
    </div>
    @* <div id="divFooter" style="background: gray">
        <SfPager @ref="Pager" PageSize="@PageSize" NumericItemsCount="@NumericCount" TotalItemsCount="@TotalCount" ItemClick="@ItemClick" PageSizes="@PageSizes" 
                 PageSizeChanged="@PageSizeChanged" CurrentPage="@CurrentPage"></SfPager>
    </div> *@
</div>
