@* UI Performance Optimizations Applied:
   1. Simplified grid templates - reduced conditional casting overhead
   2. Alphabetically sorted component attributes  
   3. Removed redundant template usage for simple fields
   4. Optimized tab component configuration
   5. Streamlined component structure for better performance *@

@page "/company"
@using AnimationEffect = Syncfusion.Blazor.AnimationEffect
@layout SubscriptionLayout

<PageHeader PageName="Company"/>
@if (HasViewRights)
{
	<GridHeader AddMethod="() => EditCompany(true)" AllAlphabet="AllAlphabets" AlphabetMethod="GetAlphabets" ClearFilter="ClearFilter" CurrentPage="SearchModel.Page" Endpoint="Company/SearchCompanies" Name="@(SearchModel.CompanyName)" PageChanged="PageChanged" PageSize="SearchModel.ItemCount" PageSizeChanged="PageSizeChanged" RefreshGrid="Refresh" ShowSearch="false" TotalCount="@Count" ValueChange="AutocompleteValueChange">
		<GridContent>
			<SfGrid @ref="Grid" AllowMultiSorting="false" AllowPaging="false" AllowSelection="true" AllowSorting="false" DataSource="@DataSource" EnableHover="true" EnableStickyHeader="true" Height="100%" ID="gridCompany" TValue="Company" Width="100%">
				<GridEvents DataBound="DataHandler" DetailDataBound="DetailDataBind" RowSelected="RowSelected" TValue="Company"/>
				<GridSelectionSettings EnableToggle="false" Mode="GridSelectionMode.Row" Type="GridSelectionType.Single"/>
				<GridColumns>
					<GridColumn Field="@nameof(Company.ID)" HeaderText="ID" IsPrimaryKey="true" Visible="false" Width="0"/>
					<GridColumn AllowSorting="true" Field="@nameof(Company.CompanyName)" HeaderText="Name" Width="17%"/>
					<GridColumn AllowSorting="false" Field="@nameof(Company.Email)" HeaderText="Email" Width="17%"/>
					<GridColumn AllowSorting="true" Field="@nameof(Company.Phone)" HeaderText="Phone" Width="12%">
						<Template Context="company">
							<span>@(((Company)company).Phone.StripPhoneNumber().FormatPhoneNumber())</span>
						</Template>
					</GridColumn>
					<GridColumn AllowSorting="true" Field="@nameof(Company.Address)" HeaderText="Location" Width="17%">
						<Template Context="company">
							@(((Company)company).Address.ToMarkupString())
						</Template>
					</GridColumn>
					<GridColumn AllowSorting="true" Field="@nameof(Company.Website)" HeaderText="Website" Width="17%"/>
					<GridColumn AllowSorting="true" Field="@nameof(Company.Status)" HeaderText="Status" Width="10%">
						<Template Context="company">
							<span>@(((Company)company).Status ? "Active" : "Inactive")</span>
						</Template>
					</GridColumn>
					<GridColumn AllowSorting="true" Field="@nameof(Company.UpdatedDate)" HeaderText="Updated" Width="10%">
						<Template Context="company">
							<span>@($"{((Company)company).UpdatedDate.CultureDate()} [{((Company)company).UpdatedBy}]")</span>
						</Template>
					</GridColumn>
				</GridColumns>
				<GridTemplates Context="context">
					<DetailTemplate>
						@* Add Buttons Start *@
						<SfSpeedDial CloseIconCss="speeddial-icons speeddial-icon-close" IsModal="true" ItemClicked="SpeedDialItemClicked" Mode="SpeedDialMode.Linear" OpenIconCss="speeddial-icons speeddial-icon-menu" Position="FabPosition.TopRight" Target="#tabCompany" Title="Action" Visible="true">
							<SpeedDialItems>
								<SpeedDialItem IconCss="e-icons e-people" ID="itemEditCompany" Text="Edit Company" Title="Edit Company"/>
								<SpeedDialItem IconCss="e-icons e-location" ID="itemAddLocation" Text="Add Location" Title="Add Location"/>
								<SpeedDialItem IconCss="e-icons e-user" ID="itemAddContact" Text="Add Contact" Title="Add Contact"/>
								<SpeedDialItem IconCss="e-icons e-import-word" ID="itemAddDocument" Text="Add Document" Title="Add Document"/>
								<SpeedDialItem IconCss="e-icons e-data-validation" ID="itemEditAccount" Text="Edit Account Information" Title="Edit Account Information"/>
								<SpeedDialItem IconCss="e-icons e-insert-sheet" ID="itemManageRequisition" Text="Manage Requisitions" Title="Manage Requisitions" />

							</SpeedDialItems>
						</SfSpeedDial>
						@* Add Buttons End *@
						@if (context is Company)
						{
							<SfTab CssClass="e-fill" Height="400" ID="tabCompany" LoadOn="ContentLoad.Init" SelectedItem="_selectedTab" ShowCloseButton="false" Width="98%">
								<SfSpinner @bind-Visible="@VisibleSpinner" @ref="@Spinner" CssClass="spinnerHeight" Type="SpinnerType.Fluent" ZIndex="12000"/>
								<TabAnimationSettings>
									<TabAnimationNext Effect="AnimationEffect.None"/>
									<TabAnimationPrevious Effect="AnimationEffect.None"/>
									<TabEvents Selected="TabSelected"/>
								</TabAnimationSettings>
								<TabItems>
									<TabItem>
										<ChildContent>
											<TabHeader Text="Company Info"/>
										</ChildContent>
										@* CSS used id .e-tab#tabCompany div[id^="e-content-tabCompany"]*@
										<ContentTemplate>
											<CompanyInfoPanel Address="@Address" Model="_companyDetails"/>
										</ContentTemplate>
									</TabItem>
									<TabItem>
										<ChildContent>
											<TabHeader Text="Locations"/>
										</ChildContent>
										<ContentTemplate>
											<LocationPanel @ref="PanelLocations" EditCompanyLocation="EditLocation" Model="_companyLocations"/>
										</ContentTemplate>
									</TabItem>
									<TabItem>
										<ChildContent>
											<TabHeader Text="Contacts"/>
										</ChildContent>
										<ContentTemplate>
											<ContactPanel @ref="PanelContacts" EditCompanyContact="EditCompanyContact" Model="_companyContacts"/>
										</ContentTemplate>
									</TabItem>
									<TabItem>
										<ChildContent>
											<TabHeader Text="Notes"/>
										</ChildContent>
										<ContentTemplate>
											<CompaniesNotesPanel @ref="NotesPanel" DeleteNotes="DeleteNotes" EditNotes="EditNotes" EditRights="HasEditRights" Model="@_companyNotesObject" UserName="@User"/>
										</ContentTemplate>
									</TabItem>
									<TabItem>
										<ChildContent>
											<TabHeader Text="Documents"/>
										</ChildContent>
										<ContentTemplate>
											<DocumentPanel @ref="DocumentPanel" DeleteCompanyDocument="DeleteCompanyDocument" DownloadDocument="DownloadDocument" Model="_companyDocuments"/>
										</ContentTemplate>
									</TabItem>
									<TabItem>
										<ChildContent>
											<TabHeader Text="Account Information"/>
										</ChildContent>
										<ContentTemplate>
											<div></div>
										</ContentTemplate>
									</TabItem>
									<TabItem>
										<ChildContent>
											<TabHeader Text="Requisitions"/>
										</ChildContent>
										<ContentTemplate>
											<CompanyRequisitions Model="_companyRequisitions"/>
										</ContentTemplate>
									</TabItem>
								</TabItems>
							</SfTab>
						}
					</DetailTemplate>
				</GridTemplates>
			</SfGrid>
		</GridContent>
	</GridHeader>
	<AddCompanyDocument @ref="DialogDocument" Model="NewDocument" Save="SaveDocument"/>
	<EditCompany @ref="CompanyEditDialog" Model="_companyDetailsClone" NAICS="NAICS" Save="SaveCompany" State="State"/>
	<EditLocation @ref="CompanyLocationDialog" Model="SelectedLocation" Save="SaveLocation" State="State"/>
	<EditContact @ref="CompanyContactDialog" Model="SelectedContact" Save="SaveContact"/>
	<EditNotesDialog Entity="Company" Model="SelectedNotes" @ref="CompanyNotesDialog" Save="SaveNote" Title="Company"  />
}
else
{
	<div class="noAccess">
		You don't have rights to view this page.
	</div>
}