@page "/requisition"
@layout SubscriptionLayout

<PageHeader/>
<GridHeader AllAlphabet="AllAlphabets" AlphabetMethod="GetAlphabets" ClearFilter="ClearFilter" CurrentPage="SearchModel.Page" Endpoint="Requisition/SearchRequisitions" Name="@(SearchModel.Title)"
            NumericCount="7" PageSize="SearchModel.ItemCount" TotalCount="@Count" ValueChange="AutocompleteValueChange">
	<GridContent>
		<SfGrid AllowMultiSorting="false" AllowPaging="true" AllowSelection="true" AllowSorting="true" EnableHover="true" EnableStickyHeader="true" Height="100%" ID="gridRequisitions" @ref="Grid"
		        TValue="Requisition" Width="100%">
			<GridPageSettings CurrentPage="SearchModel.Page" PageCount="7" PageSize="25" PageSizes="@(new[] {"10", "25", "50", "75", "100"})"/>
			<GridSelectionSettings EnableToggle="true" Mode="SelectionMode.Row" Type="SelectionType.Single"/>
			<SfDataManager Adaptor="Adaptors.CustomAdaptor" AdaptorInstance="@typeof(RequisitionAdaptor)" Key="ID"/>
			<GridEvents DataBound="DataHandler" DetailDataBound="DetailDataBind" PageChanging="GridPageChanging" TValue="Requisition"/>@* OnActionBegin="OnActionBegin"*@
			<GridColumns>
				<GridSortSettings AllowUnsort="false">
					@*<GridSortColumns>
					<GridSortColumn Direction="@SortDirectionProperty" Field="@SortField"></GridSortColumn>
				</GridSortColumns>*@
				</GridSortSettings>
				<GridColumn Field="@nameof(Requisition.ID)" HeaderText="ID" IsPrimaryKey="true" Visible="false" Width="0"/>
				<GridColumn AllowSorting="true" Field="@nameof(Requisition.Code)" HeaderText="Code" Width="12%">
					<Template Context="aCon">
						@{
							if (aCon is Requisition _con)
							{
								<span style="color: @(_con.PriorityColor)">@_con.Code</span>
							}
						}
					</Template>
				</GridColumn>
				<GridColumn AllowSorting="true" Field="@nameof(Requisition.Title)" HeaderText="Title" Width="24%">
					<Template Context="aCon">
						@{
							if (aCon is Requisition _con)
							{
								<span style="color: @(_con.PriorityColor)">@_con.Title</span>
							}
						}
					</Template>
				</GridColumn>
				<GridColumn AllowSorting="true" Field="@nameof(Requisition.Company)" HeaderText="Company" Width="18%">
					<Template Context="aCon">
						@{
							if (aCon is Requisition _con)
							{
								<span style="color: @(_con.PriorityColor)">@_con.Company</span>
							}
						}
					</Template>
				</GridColumn>
				<GridColumn AllowSorting="false" Field="@nameof(Requisition.JobOptions)" HeaderText="Type" Width="22%">
					<Template Context="aCon">
						@{
							if (aCon is Requisition _con)
							{
								<span style="color: @(_con.PriorityColor)">@_con.JobOptions</span>
							}
						}
					</Template>
				</GridColumn>
				<GridColumn AllowSorting="true" Field="@nameof(Requisition.Updated)" HeaderText="Updated" Width="12%">
					<Template Context="aCon">
						@{
							if (aCon is Requisition _con)
							{
								<span style="color: @(_con.PriorityColor)">@_con.Updated</span>
							}
						}
					</Template>
				</GridColumn>
				<GridColumn AllowSorting="true" Field="@nameof(Requisition.Status)" HeaderText="Status" Width="12%">
					<Template Context="aCon">
						@{
							if (aCon is Requisition _con)
							{
								<span style="color: @(_con.PriorityColor)">@_con.Status</span>
							}
						}
					</Template>
				</GridColumn>
			</GridColumns>
			@*<GridTemplates Context="context">
			<DetailTemplate>
				<SfSpeedDial CloseIconCss="speeddial-icons speeddial-icon-close" IsModal="true" ItemClicked="SpeedDialItemClicked" Mode="SpeedDialMode.Linear"
				             OpenIconCss="speeddial-icons speeddial-icon-menu" Position="FabPosition.TopRight" Target="#tabRequisition" title="Action" Visible="@(UserRights.EditRequisition || UserRights.SubmitCandidate)">
					<SpeedDialRadialSettings Direction="RadialDirection.AntiClockwise" EndAngle="360" OffSet="100px" StartAngle="180"/>
					<SpeedDialItems>
						@{
							if (context is Requisitions _con)
							{
								<SpeedDialItem IconCss="speeddial-icons speeddial-icon-edit" ID="itemEditRequisition" Text="Edit Requisition" Title="Edit Requisition"
								               style="@("display:" + (UserRights.EditCandidate && _con.UpdatedBy == User ? "unset" : "none"))"/>
								<SpeedDialItem IconCss="speeddial-icons speeddial-icon-attachment" ID="itemAddDocument" Text="Add Document" Title="Add Document"
								               style="@("display:" + (UserRights.EditCandidate && _con.UpdatedBy == User ? "unset" : "none"))"/>
								<SpeedDialItem IconCss="speeddial-icons speeddial-icon-rating" ID="itemSubmitExisting" Text="Submit Existing Candidate" Title="Submit Existing Candidate"
								               style="@("display:" + (UserRights.SubmitCandidate ? "unset" : "none"))"/>
								<SpeedDialItem IconCss="speeddial-icons speeddial-icon-rating" ID="itemSubmitNew" Text="Submit New Candidate" Title="Submit New Candidate"
								               style="@("display:" + (UserRights.SubmitCandidate ? "unset" : "none"))"/>
							}
						}
					</SpeedDialItems>
				</SfSpeedDial>
				<SfTab CssClass="e-fill" Height="520" ID="tabRequisition" LoadOn="ContentLoad.Init" SelectedItem="_selectedTab" ShowCloseButton="false" Width="95%">
					<TabAnimationSettings>
						<TabAnimationPrevious Effect="AnimationEffect.None"></TabAnimationPrevious>
						<TabAnimationNext Effect="AnimationEffect.None"></TabAnimationNext>
						<TabEvents Selected="TabSelected"></TabEvents>
					</TabAnimationSettings>
					<TabItems>
						<TabItem>
							<ChildContent>
								<TabHeader Text="Requisition Info"/>
							</ChildContent>
							<ContentTemplate>
								<basicinforequisitionpanel Model="_requisitionDetailsObject" SkillsText="_requisitionDetailSkills" States="_states"/>
							</ContentTemplate>
						</TabItem>
						<TabItem>
							<ChildContent>
								<TabHeader Text="Documents"/>
							</ChildContent>
							<ContentTemplate>
								<documentspanel DeleteDocument="DeleteDocument" DownloadDocument="DownloadDocument" EditRights="@UserRights.EditRequisition" User="@User" Model="@_requisitionDocumentsObject"
								                @ref="DocumentsPanel"/>
							</ContentTemplate>
						</TabItem>
						<TabItem>
							<ChildContent>
								<TabHeader Text="Candidate Activity"/>
							</ChildContent>
							<ContentTemplate>
								<activitypanelrequisition EditActivity="EditActivity" Model="_candidateActivityObject" @ref="ActivityPanel" UndoCandidateActivity="UndoActivity" RoleID="@RoleID" User="@User"/>
							</ContentTemplate>
						</TabItem>
					</TabItems>
					<SfSpinner CssClass="spinnerHeight" @ref="@Spinner" Type="SpinnerType.Fabric" ZIndex="12000"/>
				</SfTab>
			</DetailTemplate>
		</GridTemplates>*@
		</SfGrid>
	</GridContent>
</GridHeader>
<SfSpinner CssClass="spinnerHeight" @ref="@SpinnerTop" Type="SpinnerType.Fabric" ZIndex="12000"/>
