@page "/requisition"
@using AnimationEffect = AnimationEffect
@layout SubscriptionLayout

<PageHeader/>
<GridHeader AllAlphabet="AllAlphabets" AlphabetMethod="GetAlphabets" ClearFilter="ClearFilter" Endpoint="Requisition/SearchRequisitions" Name="@(SearchModel.Title)" ValueChange="AutocompleteValueChange">
	<GridContent>
		<SfGrid AllowMultiSorting="false" AllowPaging="true" AllowSelection="true" AllowSorting="true" EnableHover="true" EnableStickyHeader="true" Height="100%" ID="gridRequisitions" 
				Query="_query" @ref="Grid" TValue="Requisition" Width="100%">
			<GridPageSettings CurrentPage="SearchModel.Page" PageCount="7" PageSize="25" PageSizes="@(new[] {"10", "25", "50", "75", "100"})"/>
			<GridSelectionSettings EnableToggle="true" Mode="SelectionMode.Row" Type="SelectionType.Single"/>
			@{
				if (HasRendered)
				{
					<SfDataManager Adaptor="Adaptors.CustomAdaptor" AdaptorInstance="@typeof(RequisitionAdaptor)" Key="ID"/>
				}
			}
			<GridEvents DataBound="DataHandler" DetailDataBound="DetailDataBind" PageChanging="GridPageChanging" TValue="Requisition"/>
			<GridColumns>
				<GridSortSettings AllowUnsort="false">
					@*<GridSortColumns>
					<GridSortColumn Direction="@SortDirectionProperty" Field="@SortField"></GridSortColumn>
				</GridSortColumns>*@
				</GridSortSettings>
				<GridColumn Field="@nameof(Requisition.ID)" HeaderText="ID" IsPrimaryKey="true" Visible="false" Width="0"/>
				<GridColumn AllowSorting="true" Field="@nameof(Requisition.Code)" HeaderText="Code" Width="12%">
					<Template Context="aCon">
						@{
							if (aCon is Requisition _con)
							{
								<span style="color: @(_con.PriorityColor)">@_con.Code</span>
							}
						}
					</Template>
				</GridColumn>
				<GridColumn AllowSorting="true" Field="@nameof(Requisition.Title)" HeaderText="Title" Width="24%">
					<Template Context="aCon">
						@{
							if (aCon is Requisition _con)
							{
								<span style="color: @(_con.PriorityColor)">@_con.Title</span>
							}
						}
					</Template>
				</GridColumn>
				<GridColumn AllowSorting="true" Field="@nameof(Requisition.Company)" HeaderText="Company" Width="18%">
					<Template Context="aCon">
						@{
							if (aCon is Requisition _con)
							{
								<span style="color: @(_con.PriorityColor)">@_con.Company</span>
							}
						}
					</Template>
				</GridColumn>
				<GridColumn AllowSorting="false" Field="@nameof(Requisition.JobOptions)" HeaderText="Type" Width="22%">
					<Template Context="aCon">
						@{
							if (aCon is Requisition _con)
							{
								<span style="color: @(_con.PriorityColor)">@_con.JobOptions</span>
							}
						}
					</Template>
				</GridColumn>
				<GridColumn AllowSorting="true" Field="@nameof(Requisition.Updated)" HeaderText="Updated" Width="12%">
					<Template Context="aCon">
						@{
							if (aCon is Requisition _con)
							{
								<span style="color: @(_con.PriorityColor)">@_con.Updated</span>
							}
						}
					</Template>
				</GridColumn>
				<GridColumn AllowSorting="true" Field="@nameof(Requisition.Status)" HeaderText="Status" Width="12%">
					<Template Context="aCon">
						@{
							if (aCon is Requisition _con)
							{
								<span style="color: @(_con.PriorityColor)">@_con.Status</span>
							}
						}
					</Template>
				</GridColumn>
			</GridColumns>
			<GridTemplates Context="context">
				<DetailTemplate>
					<SfSpeedDial CloseIconCss="speeddial-icons speeddial-icon-close" IsModal="true" ItemClicked="SpeedDialItemClicked" Mode="SpeedDialMode.Linear"
					             OpenIconCss="speeddial-icons speeddial-icon-menu" Position="FabPosition.TopRight" Target="#tabRequisition" title="Action">
						<SpeedDialItems>
							<SpeedDialItem IconCss="speeddial-icons speeddial-icon-edit" ID="itemEditRequisition" Text="Edit Requisition" Title="Edit Requisition"/>
							<SpeedDialItem IconCss="speeddial-icons speeddial-icon-attachment" ID="itemAddDocument" Text="Add Document" Title="Add Document"/>
							<SpeedDialItem IconCss="speeddial-icons speeddial-icon-rating" ID="itemSubmitExisting" Text="Submit Existing Candidate" Title="Submit Existing Candidate"/>
							<SpeedDialItem IconCss="speeddial-icons speeddial-icon-rating" ID="itemSubmitNew" Text="Submit New Candidate" Title="Submit New Candidate"/>
						</SpeedDialItems>
					</SfSpeedDial>
					<SfTab CssClass="e-fill" Height="520" ID="tabRequisition" LoadOn="ContentLoad.Init" ShowCloseButton="false" Width="95%" SelectedItem="_selectedTab">
						<SfSpinner @bind-Visible="@VisibleSpinner" CssClass="spinnerHeight" @ref="@Spinner" Type="SpinnerType.Fluent2" ZIndex="12000"/>
						<TabAnimationSettings>
							<TabAnimationPrevious Effect="AnimationEffect.FadeIn" Duration="300"></TabAnimationPrevious>
							<TabAnimationNext Effect="AnimationEffect.FadeIn" Duration="300"></TabAnimationNext>
							@* <TabEvents Selected="TabSelected"></TabEvents>SelectedItem="_selectedTab"  *@
						</TabAnimationSettings>
						<TabItems>
							<TabItem>
								<ChildContent>
									<TabHeader Text="Requisition Info"/>
								</ChildContent>
								<ContentTemplate>
									<div class="layout-2">
										<div class="leftLayout">
											<PanelDisplayText Label="Company Name" Text="@(_requisitionDetailsObject.CompanyName)"/>
											<PanelDisplayText Label="Contact Name" Text="@(_requisitionDetailsObject.ContactName)"/>
											<PanelDisplayText Label="Job Title" Text="@(_requisitionDetailsObject.PositionTitle)"/>
											<PanelDisplayText Label="No. of Positions" Text="@(_requisitionDetailsObject.Positions.ToString())"/>
											<PanelDisplayText Label="Project Location" Text="@GetLocation(_requisitionDetailsObject.Location)"/>
											<PanelDisplayText Label="Duration" Text="@(_requisitionDetailsObject.Duration + " " + GetDurationCode(_requisitionDetailsObject.DurationCode))"/>
											<PanelDisplayText Label="Expected Start Date" Text="@(_requisitionDetailsObject.ExpectedStart.CultureDate())"/>
											<PanelDisplayText Label="Due Date" Text="@(_requisitionDetailsObject.DueDate.CultureDate())"/>
											<PanelDisplayText Label="Expected Rate" Text="@($"{_requisitionDetailsObject.ExpRateLow.CultureCurrency()} - {_requisitionDetailsObject.ExpRateHigh.CultureCurrency()}")"/>
											<PanelDisplayText Label="Salary Expected" Text="@($"{_requisitionDetailsObject.SalaryLow.CultureCurrency()} - {_requisitionDetailsObject.SalaryHigh.CultureCurrency()}")"/>
											<PanelDisplayText Label="Load Expected" Text="@($"{_requisitionDetailsObject.ExpLoadLow.CultureCurrency()} - {_requisitionDetailsObject.ExpLoadHigh.CultureCurrency()}")"/>
											<PanelDisplayText Label="Placement Fee" Text="@(_requisitionDetailsObject.PlacementFee.CulturePercentage())"/>
											<PanelDisplayText Label="Status" Text="@(_requisitionDetailsObject.Status)"/>
										</div>
										<div class="leftLayout">
											<PanelDisplayText Label="Assigned Recruiter(s)" Text="@(_requisitionDetailsObject.AssignedTo)"/>
											<PanelDisplayText Label="Priority" Text="@(_requisitionDetailsObject.Priority)"/>
											<PanelDisplayText Label="Job Options" Text="@(_requisitionDetailsObject.JobOptions)"/>
											<PanelDisplayText Label="Experience" Text="@(_requisitionDetailsObject.Experience)"/>
											<PanelDisplayText Label="Report To" Text="@(_requisitionDetailsObject.ReportTo)"/>
											<PanelDisplayText Label="Education" Text="@(_requisitionDetailsObject.Education)"/>
											<PanelDisplayText Label="Eligibility" Text="@(_requisitionDetailsObject.Eligibility)"/>
											<PanelDisplayText Label="Expenses Paid?" Text="@_requisitionDetailsObject.ExpensesPaid.ToBooleanString("Yes", "No")"/>
											<PanelDisplayText Label="Security Clearance?" Text="@_requisitionDetailsObject.SecurityClearance.ToBooleanString("Yes", "No")"/>
											<PanelDisplayText Label="OFCCP?" Text="@_requisitionDetailsObject.OFCCP.ToBooleanString("Yes", "No")"/>
											<PanelDisplayText Label="Benefits?" Text="@_requisitionDetailsObject.Benefits.ToBooleanString("Yes", "No")"/>
											<PanelDisplayText Label="Benefits Notes" MarkupText="@_requisitionDetailsObject.BenefitNotes.ToMarkupString()"/>
										</div>
										<div class="rightLayout" style="display:flex; flex-direction:column;">
											<div style="font-weight: bold; height: 23px;">Description:</div>
											<div style="overflow-y: auto; flex: 1;">
												@_requisitionDetailsObject.Description.ToMarkupString()
											</div>
											<div style="font-weight: bold; height: 23px; margin-top: 15px;">Skills:</div>
											<div style="flex: 1; overflow-y: auto;">
												@_requisitionDetailSkills
											</div>
										</div>
									</div>
								</ContentTemplate>
							</TabItem>
							<TabItem>
								<ChildContent>
									<TabHeader Text="Documents"/>
								</ChildContent>
								<ContentTemplate>
									<DocumentsPanel DeleteDocument="DeleteDocument" DownloadDocument="DownloadDocument" EntityTypeName="EntityType.Requisition" EditRights="@HasEditRights" User="@User" 
													Model="@_requisitionDocumentsObject" @ref="DocumentsPanel"/>
								</ContentTemplate>
							</TabItem>
							<TabItem>
								<ChildContent>
									<TabHeader Text="Activity"/>
								</ChildContent>
								<ContentTemplate>
									<ActivityPanelRequisition EditActivity="EditActivity" Model="_candidateActivityObject" @ref="ActivityPanel" UndoCandidateActivity="UndoActivity" RoleID="@RoleID"		
																User="@User"/>
								</ContentTemplate>
							</TabItem>
						</TabItems>
					</SfTab>
				</DetailTemplate>
			</GridTemplates>
		</SfGrid>
	</GridContent>
</GridHeader>
<SfSpinner CssClass="spinnerHeight" @ref="@SpinnerTop" Type="SpinnerType.Fabric" ZIndex="12000"/>
<AddRequisitionDocument Model="@NewDocument" @ref="DialogDocument" Save="SaveDocument" />
<RequisitionDetailsPanel Companies="Companies" CompanyContacts="CompanyContacts" Education="_education" Eligibility="_eligibility" Experience="_experience" JobOptions="_jobOptions" 
						 Model="_requisitionDetailsObjectClone" Recruiters="_recruiters" @ref="DetailsRequisition" Save="SaveRequisition" Skills="Skills" 
						 States="_states" Title="@Title"/>
