<SfDialog CssClass="dialogPopup" Header="@HeaderString" Height="585px" IsModal="true" MinHeight="300px" @ref="Dialog" Target="#divTarget" Visible="false" Width="520px">
    <ChildContent>
        <SfSpinner @bind-Visible="@VisibleSpinner" CssClass="spinnerHeight" @ref="Spinner" Type="SpinnerType.Fluent2" ZIndex="12000"/>
        <DialogPositionData X="right" Y="center"></DialogPositionData>
        <DialogAnimationSettings Effect="DialogEffect.SlideRight"/>
        <DialogEvents OnOpen="OpenDialog"></DialogEvents>
        <SfDataForm EditContext="Context" ID="UserEditForm" OnValidSubmit="SaveUser" @ref="EditUserForm" ValidationDisplayMode="FormValidationDisplay.Inline">
            <FormButtons>
                <SfButton CssClass="e-primary" type="submit">Save User</SfButton>
                <SfButton CssClass="e-secondary" OnClick="CancelUser" type="button">Cancel</SfButton>
            </FormButtons>
            <FormValidator>
                <FluentValidationValidator Validator="_userValidator"/>
            </FormValidator>
            <FormItems>
                <FormGroup ColumnCount="3" ColumnSpacing="10px" CssClass="formGroup" ID="groupInfo" LabelText="User Information">
                    <FormItem ColumnSpan="1" Field="@nameof(Model.UserName)">
                        <Template>
                            <TextBox @bind-Value="Model.UserName" ID="textUserName" MaxLength="10" Placeholder="UserName"/>
                        </Template>
                    </FormItem>
                    <FormItem ColumnSpan="1" Field="@nameof(Model.FirstName)">
                        <Template>
                            <TextBox @bind-Value="Model.FirstName" ID="textFirstName" MaxLength="50" Placeholder="First Name"/>
                        </Template>
                    </FormItem>
                    <FormItem ColumnSpan="1" Field="@nameof(Model.LastName)">
                        <Template>
                            <TextBox @bind-Value="Model.LastName" ID="textLastName" MaxLength="50" Placeholder="Last Name"/>
                        </Template>
                    </FormItem>
                    <FormItem ColumnSpan="3" Field="@nameof(Model.Password)">
                        <Template>
                            <TextBox @bind-Value="Model.Password" ID="textPassword" MaxLength="16" Placeholder="Password" TextBoxType="InputType.Password" />
                            @{
                                if (!Model.IsAdd)
                                {
                                    <div> Note: Leave password blank if you do not wish to change the password.</div>
                                }
                            }
                        </Template>
                    </FormItem>
                    <FormItem ColumnSpan="3" Field="@nameof(Model.EmailAddress)">
                        <Template>
                            <TextBox @bind-Value="Model.EmailAddress" ID="textEmail" MaxLength="255" Placeholder="Email Address"/>
                        </Template>
                    </FormItem>
                    <FormItem ColumnSpan="3" Field="@nameof(Model.RoleID)">
                        <Template>
                            <DropDown @bind-Value="Model.RoleID" Model="RolesList" ID="dropRole" TItem="IntValues" TValue="int" Placeholder="Role" Text="Text" Key="KeyValue"/>
                        </Template>
                    </FormItem>
                    <FormItem ColumnSpan="2" Field="@nameof(Model.StatusEnabled)" LabelText="User Active?" ID="checkedStatus" EditorType="FormEditorType.Switch"/>
                </FormGroup>
            </FormItems>
        </SfDataForm>
    </ChildContent>
</SfDialog>