@inject IJSRuntime Runtime;

<div class="experienceContainerBox contactBox">
	<SfGrid AllowMultiSorting="false" AllowPaging="false" AllowSelection="true" AllowSorting="false" DataSource="@Model" EnableHover="true" EnableStickyHeader="true" Height="291px" ID="divInnerReq" @ref="GridInnerRequisition" 
			RowHeight="@RowHeight" TValue="Requisition" Width="100%">
		<GridSelectionSettings EnableToggle="false" Mode="SelectionMode.Row" Type="SelectionType.Single"/>
		<GridEvents DataBound="DataHandler" TValue="Requisition"/>
		<GridColumns>
			<GridColumn Field="@nameof(Requisition.ID)" HeaderText="ID" IsPrimaryKey="true" Visible="false" Width="0"/>
			<GridColumn AllowSorting="true" HeaderText="Code" Width="13%">
				<Template Context="aCon">
					@{
						if (aCon is Requisition _con)
						{
							<span style="color: @(_con.PriorityColor)">@_con.Code</span>
						}
					}
				</Template>
			</GridColumn>
			<GridColumn AllowSorting="true" Field="@nameof(Requisition.Title)" HeaderText="Title" Width="36%">
				<Template Context="aCon">
					@{
						if (aCon is Requisition _con)
						{
							<span style="color: @(_con.PriorityColor)">@_con.Title</span>
						}
					}
				</Template>
			</GridColumn>
			<GridColumn AllowSorting="false" Field="@nameof(Requisition.JobOptions)" HeaderText="Type" Width="24%">
				<Template Context="aCon">
					@{
						if (aCon is Requisition _con)
						{
							<span style="color: @(_con.PriorityColor)">@_con.JobOptions</span>
						}
					}
				</Template>
			</GridColumn>
			<GridColumn AllowSorting="true" Field="@nameof(Requisition.Updated)" HeaderText="Updated" Width="13%">
				<Template Context="aCon">
					@{
						if (aCon is Requisition _con)
						{
							<span style="color: @(_con.PriorityColor)">@($"{_con.Updated} [{_con.UpdatedBy}]")</span>
						}
					}
				</Template>
			</GridColumn>
			<GridColumn AllowSorting="true" Field="@nameof(Requisition.Due)" HeaderText="Due By" Width="10%">
				<Template Context="aCon">
					@{
						if (aCon is Requisition _con)
						{
							<span style="color: @(_con.PriorityColor)">@_con.Due</span>
						}
					}
				</Template>
			</GridColumn>
			<GridColumn AllowSorting="true" Field="@nameof(Requisition.Status)" HeaderText="Status" Width="13%">
				<Template Context="aCon">
					@{
						if (aCon is Requisition _con)
						{
							<span style="color: @(_con.PriorityColor)">@_con.Status</span>
						}
					}
				</Template>
			</GridColumn>
		</GridColumns>
	</SfGrid>
</div>