<SfDialog CssClass="dialogPopup" Header="Edit Company Location" Height="97vh" IsModal="true" MinHeight="96vh" @ref="Dialog" Target="#divTarget" Visible="false" Width="640px">
	<ChildContent>
		<SfSpinner @bind-Visible="VisibleSpinner" CssClass="spinnerHeight" Type="SpinnerType.Fluent2" ZIndex="12000"/>
		<DialogPositionData X="right" Y="center"/>
		<DialogAnimationSettings Duration="500" Effect="DialogEffect.SlideRight"/>
		<DialogEvents OnOpen="DialogOpen"/>
		<SfDataForm EditContext="@Context" ID="locationEditForm" OnValidSubmit="SaveCompanyLocation" @ref="CompanyLocationEditForm" ValidationDisplayMode="FormValidationDisplay.Inline">
			<FormButtons>
				<SfButton CssClass="e-primary" IconCss="e-icons e-save" type="submit">Save Location</SfButton>
				<SfButton CssClass="e-secondary" IconCss="e-icons e-close" OnClick="CancelForm" type="button">Cancel</SfButton>
			</FormButtons>
			<FormValidator>
				<FluentValidationValidator/>
			</FormValidator>
			<FormItems>
				<FormGroup ColumnCount="3" ColumnSpacing="10px" CssClass="formGroup" ID="groupLocation" LabelText="Company Location">
					<FormItem ColumnSpan="3" Field="@nameof(Model.StreetName)">
						<Template>
							<TextBox @bind-Value="Model.StreetName" ID="textStreetName" MaxLength="500" Placeholder="Address"/>
						</Template>
					</FormItem>
					<FormItem ColumnSpan="3" Field="@nameof(Model.City)">
						<Template>
							<TextBox @bind-Value="Model.City" ID="textCity" MaxLength="100" Placeholder="City"/>
						</Template>
					</FormItem>
					<FormItem ColumnSpan="3" Field="@nameof(Model.StateID)">
						<Template>
							<DropDown AllowFilter="true" @bind-Value="Model.StateID" ID="dropState" Key="KeyValue" Model="State" Placeholder="State" Text="Text" TItem="IntValues" TValue="int"/>
						</Template>
					</FormItem>
					<FormItem ColumnSpan="3" Field="@nameof(Model.ZipCode)">
						<Template>
							<MaskedTextBox @bind-Value="Model.ZipCode" ID="maskedZip" Mask="00000" Placeholder="Zip Code"/>

							@*<label class="e-form-label" for="maskedZip">Zip Code:</label>
							<SfMaskedTextBox @bind-Value="Model.ZipCode" ID="maskedZip" Mask="00000" Placeholder="Zip Code"/>*@
						</Template>
					</FormItem>
					<FormItem ColumnSpan="3" Field="@nameof(Model.EmailAddress)">
						<Template>
							<TextBox @bind-Value="Model.EmailAddress" ID="textEmail" MaxLength="255" Placeholder="Email" TextBoxType="InputType.Email"/>
						</Template>
					</FormItem>
					<FormItem ColumnSpan="2" Field="@nameof(Model.Phone)">
						<Template>
							<MaskedTextBox @bind-Value="Model.Phone" ID="maskedPhone" Mask="(000) 000-0000" Placeholder="Phone Number"/>
							@*<label class="e-form-label" for="maskedPhone">Primary Phone Number:</label>
							<SfMaskedTextBox @bind-Value="Model.Phone" ID="maskedPhone" Mask="(000) 000-0000" Placeholder="Phone Number" />*@
						</Template>
					</FormItem>
					<FormItem ColumnSpan="1" Field="@nameof(Model.Extension)">
						<Template>
							<MaskedTextBox @bind-Value="Model.Extension" ID="maskedExt" Mask="x0000" Placeholder="Extension"/>
							@*<label class="e-form-label" for="maskedExt">Extension:</label>
							<SfMaskedTextBox @bind-Value="@Model.Extension" ID="maskedExt" Mask="x0000" Placeholder="Extension" />*@
						</Template>
					</FormItem>
					@*<FormItem ColumnSpan="3" Field="@nameof(Model.Fax)">
						<Template>
							<label class="e-form-label" for="maskedFax">Fax:</label>
							<SfMaskedTextBox @bind-Value="Model.Fax" ID="maskedFax" Mask="(000) 000-0000" Placeholder="Fax" />
						</Template>
					</FormItem>*@
					<FormItem EditorType="FormEditorType.Switch" Field="@nameof(Model.PrimaryLocation)" LabelText="Is Primary Location?"/>
					<FormItem ColumnSpan="3" EditorType="FormEditorType.TextArea" Field="@nameof(Model.Notes)" LabelText="Location Notes:" Placeholder="Location Notes">
						<Template>
							<TextArea @bind-Value="Model.Notes" ID="textLocationNotes" MaxLength="2000" Placeholder="Location Notes"></TextArea>
						</Template>
					</FormItem>
				</FormGroup>
			</FormItems>
		</SfDataForm>
	</ChildContent>
</SfDialog>