<SfDialog CssClass="dialogPopup" Header="Advanced Search" Height="756px" IsModal="true" MinHeight="500px" @ref="Dialog" Target="#divTarget" Visible="false" Width="700px">
	<ChildContent>
		<SfSpinner @bind-Visible="VisibleSpinner" CssClass="spinnerHeight" Type="SpinnerType.Fluent2" ZIndex="12000"/>
		<DialogPositionData X="center" Y="center"/>
		<DialogAnimationSettings Duration="500" Effect="DialogEffect.FadeZoom"/>
		<DialogEvents OnOpen="OpenDialog"/>
		<SfDataForm EditContext="Context" ID="searchForm" OnValidSubmit="SearchCandidateDialog" @ref="SearchForm" ValidationDisplayMode="FormValidationDisplay.Inline">
			<FormButtons>
				<SfButton CssClass="e-primary" type="submit">Search</SfButton>
				<SfButton CssClass="e-secondary" OnClick="CancelSearchDialog" type="button">Cancel</SfButton>
			</FormButtons>
			<FormItems>
				<FormGroup ColumnCount="1" ColumnSpacing="10px" CssClass="formGroup" ID="groupBasicInfo" LabelText="Basic Information">
					<FormItem ColumnSpan="1" Field="@nameof(Model.Name)">
						<Template>
							<TextBox @bind-Value="Model.Name" ID="textName" MaxLength="255" Placeholder="Name"/>
						</Template>
					</FormItem>
					<FormItem ColumnSpan="1" Field="@nameof(Model.AllCandidates)">
						<Template>
							<div class="divSwitchFlex">
								<label class="e-form-label">Show:</label>
								<div style="display: flex; width: 400px">
									<SfRadioButton @bind-Checked="Model.AllCandidates" Label="All Candidates" Name="showCandidates" TChecked="bool" Value="true" ValueChange="ValueChangedShowCandidates"/>
									<SfRadioButton @bind-Checked="Model.AllCandidates" Label="My Candidates" Name="showCandidates" CssClass="radioMyCandidates" TChecked="bool" Value="false"
									               ValueChange="ValueChangedShowCandidates"/>
								</div>
							</div>
						</Template>
					</FormItem>
					<FormItem ColumnSpan="1" Field="@nameof(Model.IncludeAdmin)">
						<Template>
							<label class="e-form-label" for="checkedIncludeAdmin">Include Admin Candidates?</label>
							<SfSwitch @bind-Checked="Model.IncludeAdmin" CssClass="switchYesNo" Disabled="@SwitchIncludeAdminDisabled" ID="checkedIncludeAdmin" OffLabel="NO" OnLabel="YES" @ref="SwitchIncludeAdmin"/>
						</Template>
					</FormItem>
				</FormGroup>
				<FormGroup ColumnCount="1" ColumnSpacing="10px" CssClass="formGroup" ID="groupKeywords" LabelText="Keywords and Skills">
					<FormItem ColumnSpan="1" Field="@nameof(Model.Keywords)">
						<Template>
							<TextArea @bind-Value="Model.Keywords" ID="textKeywords" MaxLength="2000" Placeholder="Enter Keywords (separated by commas)" Rows="4"></TextArea>
						</Template>
					</FormItem>
					<FormItem ColumnSpan="1" Field="@nameof(Model.Skills)">
						<Template>
							<TextArea @bind-Value="Model.Skills" ID="textSkills" MaxLength="2000" Placeholder="Enter Skills (separated by commas)" Rows="4"></TextArea>
						</Template>
					</FormItem>
				</FormGroup>
				<FormGroup ColumnCount="2" ColumnSpacing="10px" CssClass="formGroup" ID="groupLocation" LabelText="Location">
					<FormItem ColumnSpan="2" Field="@nameof(Model.CityZip)">
						<Template>
							<label class="e-form-label" for="checkedNarrow">Narrow Search By</label>
							<SfSwitch @bind-Checked="Model.CityZip" CssClass="switchSearch" ID="checkedNarrow" OffLabel="STATE" OnLabel="ZIP" TChecked="bool"/>
						</Template>
					</FormItem>
					<FormItem ColumnSpan="2" Field="@nameof(Model.CityName)" CssClass="@(!Model.CityZip ? "e-hidden" : "")">
						<Template>
							<label class="e-form-label" for="autoZip">City/Zip:</label>
							<SfAutoComplete @bind-Value="@Model.CityName" DataSource="@DataSource" Enabled="@(Model.CityZip)" Highlight="true" ID="autoZip" MinLength="2" Placeholder="Select Zip&hellip;" 
											ShowClearButton="true" TItem="KeyValues" TValue="string" Width="50%">
								<AutoCompleteEvents TItem="KeyValues" TValue="string" Filtering="Filtering" />
								<AutoCompleteFieldSettings Text="Text" Value="KeyValue"/>
							</SfAutoComplete>
						</Template>
					</FormItem>
					<FormItem ColumnSpan="1" Field="@nameof(Model.CityName)" CssClass="@(!Model.CityZip ? "e-hidden" : "")">
						<Template>
							<DropDown @bind-Value="Model.Proximity" Enabled="@(Model.CityZip)" Model="@ProximityValues" ID="dropProximity" Key="KeyValue" Placeholder="Proximity" Text="Text" TItem="IntValues"
							          TValue="int"/>
						</Template>
					</FormItem>
					<FormItem ColumnSpan="1" Field="@nameof(Model.CityName)" CssClass="@(!Model.CityZip ? "e-hidden" : "")">
						<Template>
							<DropDown @bind-Value="Model.ProximityUnit" Enabled="@(Model.CityZip)" ID="dropProximityUnit" Key="KeyValue" Model="@ProximityUnits" Placeholder="Units" Text="Text" TItem="IntValues"
									  TValue="byte"  />
						</Template>
					</FormItem>
					<FormItem ColumnSpan="2" Field="@nameof(Model.StateID)" CssClass="@(Model.CityZip ? "e-hidden" : "")">
						<Template>
							<MultiSelect @bind-Value="Model.StateID" Enabled="@(!Model.CityZip)" ID="multiState" Key="KeyValue" Model="StateDropDown" Placeholder="Select State(s)" Text="Text" TItem="StateCache"
							             TValue="string"/>
						</Template>
					</FormItem>
				</FormGroup>
				<FormGroup ColumnCount="2" ColumnSpacing="10px" CssClass="formGroup" ID="groupEligibilityOptions" LabelText="Eligibility and Job Options">
					<FormItem ColumnSpan="1" Field="@nameof(Model.Eligibility)">
						<Template>
							<DropDown @bind-Value="Model.Eligibility" ID="dropEligibility" Key="KeyValue" Model="Eligibility" Placeholder="Eligibility" ShowClearButton="true" Text="Text" TItem="IntValues"
							          TValue="int"/>
						</Template>
					</FormItem>
					<FormItem ColumnSpan="1" Field="@nameof(Model.JobOptions)">
						<Template>
							<DropDown @bind-Value="Model.JobOptions" Model="JobOptions" ID="dropJobOptions" Placeholder="Job Options" ShowClearButton="true" Text="Text" TItem="KeyValues" TValue="string"
							          Key="KeyValue"/>
						</Template>
					</FormItem>
				</FormGroup>
				<FormGroup ColumnCount="2" ColumnSpacing="10px" CssClass="formGroup" ID="groupRelocateSecurity" LabelText="Relocate and Security">
					<FormItem ColumnSpan="1" Field="@nameof(Model.Relocate)">
						<Template>
							<DropDown @bind-Value="Model.Relocate" Model="@RelocateOptions" ID="dropRelocate" Placeholder="Relocate" Text="Text" TItem="KeyValues" TValue="string" Key="KeyValue"/>
						</Template>
					</FormItem>
					<FormItem ColumnSpan="1" Field="@nameof(Model.SecurityClearance)">
						<Template>
							<DropDown @bind-Value="Model.SecurityClearance" Model="@SecurityClearanceOptions" ID="dropSecurityClearance" Placeholder="Security Clearance" Text="Text" TItem="KeyValues"
							          TValue="string" Key="KeyValue"/>
						</Template>
					</FormItem>
					<FormItem ColumnSpan="2" Field="@nameof(Model.ActiveRequisitionsOnly)">
						<Template>
							<label class="e-form-label" for="checkedActive">Show Candidates submitted to Active Requisitions:</label>
							<SfSwitch @bind-Checked="Model.ActiveRequisitionsOnly" CssClass="switchYesNo" ID="checkedActive" OffLabel="NO" OnLabel="YES" TChecked="bool"/>
						</Template>
					</FormItem>
					<FormItem ColumnSpan="2" Field="@nameof(Model.ShowArchive)">
						<Template>
							<label class="e-form-label" for="checkedArchive">Show Archived Candidates:</label>
							<SfSwitch @bind-Checked="Model.ShowArchive" CssClass="switchYesNo" ID="checkedArchive" OffLabel="NO" OnLabel="YES" TChecked="bool"/>
						</Template>
					</FormItem>
				</FormGroup>
			</FormItems>
		</SfDataForm>
	</ChildContent>
</SfDialog>