<div>
	<SfGrid AllowPaging="false" DataSource="@Model" EnableHover="true" Height="230px" ID="gridDownload" @ref="GridDownload" RowHeight="@RowHeight" SelectedRowIndex="0" TValue="CandidateDocument" Width="100%">
		<GridSelectionSettings EnableToggle="false" Mode="SelectionMode.Row" Type="SelectionType.Single"/>
		<GridEvents RowSelected="RowSelected" TValue="CandidateDocument"/>
		<GridColumns>
			<GridColumn Field="@nameof(CandidateDocument.DocumentType)" HeaderText="Type" Width="35%"/>
			<GridColumn Field="@nameof(CandidateDocument.Name)" HeaderText="Name" Width="35%"/>
			<GridColumn Field="@nameof(CandidateDocument.ID)" HeaderText="ID" IsPrimaryKey="true" Visible="false" Width="0"/>
			<GridColumn Field="@nameof(CandidateDocument.UpdatedBy)" HeaderText="Updated By" Width="20%"/>
			<GridColumn Width="10%">
				<Template Context="bCon">
					@{
						if (bCon is CandidateDocument _con)
						{
							<div class="buttonContain">
								<SfButton Content="" IconCss="e-icons e-open-link" @onclick="() => ViewDocumentDialog(_con.ID)" title="View"/>
								@if (EditRights)
								{
									<SfButton Content="" IconCss="e-icons e-download" @onclick="() => DownloadDocumentDialog(_con.ID)" title="Download"/>
									<SfButton Content="" IconCss="e-icons e-delete" @onclick="() => DeleteDocumentMethod(_con.ID)" title="Delete"/>
								}
							</div>
						}
					}
				</Template>
			</GridColumn>
		</GridColumns>
		<GridTemplates Context="context">
			<DetailTemplate>
				@{
					CandidateDocument _document = context as CandidateDocument;
				}

				@if (_document != null)
				{
					if (_document.Notes.NullOrWhiteSpace())
					{
						<div class="blankActivityNotes">There are no Notes for this Candidate.</div>
					}
					else
					{
						<div class="activityNotes">@_document.Notes</div>
					}
				}
			</DetailTemplate>
		</GridTemplates>
	</SfGrid>
</div>
<SfSpinner CssClass="spinnerHeight" @ref="Spinner" Type="SpinnerType.Fluent2" ZIndex="12000"/>
<ViewPDFDocument DocumentLocation="@_documentLocation" DocumentName="@_documentName" EntityID="@_candidateID" InternalFileName="@_internalFileName" @ref="@DocumentViewPDF" />
