@*
<summary>
	Represents the dialog for editing a candidate's skill.
</summary>
<remarks>
	This component displays a modal dialog that allows users to edit the details of a candidate's skill.
	It includes a form with fields for skill name, last used year, and experience in months.
	The form uses validation and displays a spinner during long-running operations.
</remarks>
*@
<SfDialog Header="Edit Skill" Height="375px" IsModal="true" MinHeight="300px" @ref="Dialog" Target="#divTarget"
          Visible="false" Width="400px">
	<ChildContent>
		<SfSpinner CssClass="spinnerHeight" @ref="Spinner" Type="SpinnerType.Fabric" ZIndex="12000"/>
		<DialogPositionData X="right" Y="center"/>
		<DialogAnimationSettings Duration="500" Effect="DialogEffect.SlideRight"/>
		<DialogEvents OnOpen="OpenDialog"></DialogEvents>
		<SfDataForm EditContext="@Context" ID="companyEditForm" OnValidSubmit="SaveSkillDialog" @ref="EditSkillForm"
		            ValidationDisplayMode="FormValidationDisplay.Tooltip">
			<FormButtons>
				<SfButton CssClass="e-primary" type="submit">Save Company</SfButton>
				<SfButton CssClass="e-secondary" OnClick="CancelSkillDialog" type="button">Cancel</SfButton>
			</FormButtons>
			<FormValidator>
				<FluentValidationValidator Validator="_candidateSkillsValidator"/>
			</FormValidator>
			<FormItems>
				<FormGroup ColumnCount="9" ColumnSpacing="10px" CssClass="formGroup" ID="groupInfo"
				           LabelText="Contact Information">
					<FormItem ColumnSpan="1" EditorType="FormEditorType.TextBox" Field="@nameof(Model.Skill)"
					          LabelText="Skill Name:" Placeholder="Skill Name" ID="textSkillName"/>
					<FormItem ColumnSpan="1" Field="@nameof(Model.LastUsed)" LabelText="First Name:"
					          Placeholder="First Name" ID="numericLastUsed">
						<Template>
							<label class="e-form-label" for="numericLastUsed">Last Used:</label>
							<SfNumericTextBox @bind-Value="Model.LastUsed" ID="numericLastUsed"
							                  Placeholder="Last Used (Year)" TValue="short" Decimals="0" Format="g"
							                  Max="2100">
							</SfNumericTextBox>
						</Template>
					</FormItem>
					<FormItem ColumnSpan="1" EField="@nameof(Model.ExpMonth)"
					          LabelText="Experience (Months):" Placeholder="Experience">
						<Template>
							<label class="e-form-label" for="numericExpMonth">Experience (Months):</label>
							<SfNumericTextBox @bind-Value="Model.ExpMonth" ID="numericExpMonth"
							                  Placeholder="Experience (Months)" TValue="short" Decimals="0" Format="g"
							                  Max="1000" Min="0">
							</SfNumericTextBox>
						</Template>
					</FormItem>
				</FormGroup>
			</FormItems>
		</SfDataForm>
		@* 	<EditForm Model="Model" OnValidSubmit="SaveSkillDialog" @ref="EditSkillForm"> 
		 	<FluentValidationValidator /> 
		 	<div class="divContainerTable"> 
		 		<TextBoxControl @bind-Value="@(Model.Skill)" @bind-Value:event="ValueChanged" CreateTooltip="true" ID="textSkill" MaxLength="100" MinLength="1" Multiline="false" Placeholder="Skill" 
		 						ValidationMessage="@(() => Model.Skill)" /> 
		 		<NumericControl @bind-Value="@(Model.LastUsed)" @bind-Value:event="ValueChanged" CreateTooltip="true" Decimals="0" Format="g" ID="numericLastUsed" Max="2100" Placeholder="Last Used (Year)" 
		 						TValue="short" ValidationMessage="@(() => Model.LastUsed)" /> 
		 		<NumericControl @bind-Value="@(Model.ExpMonth)" @bind-Value:event="ValueChanged" CreateTooltip="true" Decimals="0" Format="g" ID="numericExpMonth" Max="1000" 
		 						Placeholder="Experience (Months)" TValue="short" ValidationMessage="@(() => Model.ExpMonth)" /> 
		 	</div> 
		 	<DialogFooter CancelMethod="CancelSkillDialog" @ref="FooterDialog" /> 
		 </EditForm> *@
	</ChildContent>
</SfDialog>