@* 
    Copyright:           Titan-Techs.
    Location:            Newtown, PA, USA
    Solution:            Subscription
    Project:             Subscription.Server
    File Name:           Candidates.razor.cs
    Created By:          Narendra Kumaran Kadhirvelu, Jolly Joseph Paily, DonBosco Paily, Mariappan Raja, Gowtham Selvaraj, Pankaj Sahu

    Summary:
        This component represents the dialog for editing M.P.C. (Most Placeable Candidate) information.
        The dialog includes a grid to display existing M.P.C. entries and a form to edit the selected M.P.C. details.
        It uses Syncfusion components such as SfDialog, SfGrid, and SfDataForm for the UI.
*@
<SfDialog CssClass="dialogPopup" Header="Edit M.P.C." Height="551px" IsModal="true" MinHeight="300px" @ref="Dialog" Target="#divTarget" Visible="false" Width="600px">
	<ChildContent>
		<SfSpinner CssClass="spinnerHeight" @ref="Spinner" Type="SpinnerType.Fluent2" ZIndex="12000"/>
		<DialogPositionData X="right" Y="center"/>
		<DialogAnimationSettings Duration="500" Effect="DialogEffect.SlideRight"/>
		<DialogEvents OnOpen="OpenDialog"></DialogEvents>
		<div style="width: 100%">
			<SfGrid AllowPaging="false" DataSource="@MPCGrid" EnableHover="true" Height="170px" ID="gridMPC" RowHeight="@RowHeight" SelectedRowIndex="0" TValue="CandidateMPC" Width="100%">
				<GridSelectionSettings EnableToggle="false" Mode="SelectionMode.Row" Type="SelectionType.Single"></GridSelectionSettings>
				<GridColumns>
					<GridColumn Field="@nameof(CandidateMPC.DateTime)" HeaderText="Date" Width="20%"/>
					<GridColumn Field="@nameof(CandidateMPC.Name)" HeaderText="User" IsPrimaryKey="true" Visible="false" Width="0"/>
					<GridColumn Field="@nameof(CandidateMPC.MPC)" HeaderText="M.P.C." Width="20%"/>
					<GridColumn Field="@nameof(CandidateMPC.Comment)" HeaderText="Comments" Width="20%"/>
				</GridColumns>
			</SfGrid>
		</div>
		<SfDataForm EditContext="Context" ID="mpcEditForm" OnValidSubmit="SaveMPCDialog" @ref="EditMPCForm" ValidationDisplayMode="FormValidationDisplay.Inline">
			<FormButtons>
				<SfButton CssClass="e-secondary" IconCss="e-icons e-close" OnClick="CancelMPCDialog" type="button">Cancel</SfButton>
				<SfButton CssClass="e-primary" IconCss="e-icons e-save" type="submit">Save MPC</SfButton>
			</FormButtons>
			<FormValidator>
				<FluentValidationValidator Validator="_candidateMPCValidator"/>
			</FormValidator>
			<FormItems>
				<FormGroup ColumnCount="1" ColumnSpacing="10px" CssClass="formGroup" ID="groupInfo" LabelText="M.P.C. Information">
					<FormItem ColumnSpan="1" Field="@nameof(Model.MPC)" LabelText="M.P.C?:" ID="checkedMPC" EditorType="FormEditorType.Switch"/>
					<FormItem ColumnSpan="1" Field="@nameof(Model.MPCComments)">
						<Template>
							<TextBox @bind-Value="Model.MPCComments" ID="textComments" Placeholder="Comments" MaxLength="255"/>
						</Template>
					</FormItem>
				</FormGroup>
			</FormItems>
		</SfDataForm>
	</ChildContent>
</SfDialog>